{% extends 'backoffice/base.html' %}
{% block content %}
  <div class="row">
    <div class="col-md-12">
      <h2>
        โครงการ{{ project.title }} ({{ admission_round }})
        {% if faculty %}
          - {{ faculty }}
        {% endif %}
      </h2>

      <p>
        ผู้สมัครทั้งหมด {{ applicant_count }} ผู้สมัครที่ชำระเงินแล้ว {{ paid_applicant_count }}
        รายละเอียดแยกตามสาขาแสดงด้านล่าง (แสดงจำนวนที่ชำระเงินแล้ว / จำนวนที่เลือกทั้งหมด)
        <a class="btn btn-sm btn-primary" href="{% url 'backoffice:projects-list' project.id admission_round.id %}">แสดงรายการผู้สมัครทั้งหมด</a>
      </p>
      
      <table class="table table-striped table-sm">
        <thead class="table-inverse">
          <tr>
            <td>
            </td>
            <td>
              สาขา
            </td>
            <td class="text-right">
              จำนวนรับ
            </td>
            {% if applicant_info_viewable %}
              {% if has_criteria_check %}
                <td class="text-right">
                  ผ่านเกณฑ์
                </td>
              {% endif %}
              <td class="text-right">
                เรียกสัมภาษณ์
              </td>
              <td class="text-right">
                รับจริง
              </td>
              <td class="text-right">
                ยืนยัน
              </td>
            {% endif %}
            {% for r in ranks %}
              <td class="text-right">
                อันดับ {{ r }}
              </td>
            {% endfor %}
            {% if applicant_info_viewable %}
              <td></td>
              <td></td>
            {% endif %}
          </tr>
        </thead>
        {% for major in majors %}
          {% if faculty == None %}
            {% ifchanged major.faculty %}
              <tr class="table-info">
                <th colspan="1000" class="text-center">
                  {{ major.faculty.title }} ({{ major.faculty_stat.paid }} / {{ major.faculty_stat.sel }})
                </th>
              </tr>
            {% endifchanged %}
          {% endif %}
          <tr>
            <td>{{ major.number }}</td>
            <td>
              {{ major.title }}
            </td>
            <td class="text-right">
              {{ major.slots }}{% if major.slots_comments %}*{% endif %}
            </td>
            {% if applicant_info_viewable %}
              {% if has_criteria_check %}
                <td class="text-right">
                  {{ major.criteria_passed_count }}
                </td>
              {% endif %}
              <td class="text-right">
                {{ major.accepted_for_interview_count }}
              </td>
              <td class="text-right">
                {{ major.accepted_count }}
              </td>
              <td class="text-right">
                {{ major.confirmed_count }}
              </td>
            {% endif %}
            {% for stat in major.stats %}
              <td class="text-right">
                {{ stat.paid }} / {{ stat.sel }}
              </td>
            {% endfor %}
            {% if applicant_info_viewable %}
              <td>
                {% if user_major_number == any_major or user_major_number == major.number %}
                  <div class="dropdown">
                    <a class="btn btn-sm btn-outline-secondary dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">พิจารณา</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="{% url 'backoffice:projects-show-applicant' project.id admission_round.id major.number 1 %}">พิจารณาข้อมูลผู้สมัคร</a>
                      <a class="dropdown-item" href="{% url 'backoffice:projects-show-scores' project.id admission_round.id major.number %}">พิจารณาคะแนน</a>
                    </div>
                  </div>
                {% endif %}
              </td>
              <td>
                {% if user_major_number == any_major or user_major_number == major.number %}
                  <div class="dropdown">
                    <a class="btn btn-sm btn-outline-secondary dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ดาวน์โหลด</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="{% url 'backoffice:projects-download-app-sheet' project.id admission_round.id major.number %}">ดาวน์โหลดข้อมูลทั่วไป</a>
                      <a class="dropdown-item" href="{% url 'backoffice:projects-download-app-interview-sheet' project.id admission_round.id major.number %}">ดาวน์โหลดฟอร์มสัมภาษณ์</a>
                      <a class="dropdown-item" href="{% url 'backoffice:projects-download-app-interview-score-sheet' project.id admission_round.id major.number %}">ดาวน์โหลดรายงานคะแนน</a>
                    </div>
                {% endif %}
              </td>
            {% endif %}
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock %}
