{% extends 'backoffice/base.html' %}
{% block content %}
  <div class="row">
    <div class="col-md-12">
      <h2>
        สาขาที่เปิดรับในโครงการ{{ project.title }} ({{ admission_round }})
        {% if faculty %}
          - {{ faculty }}
        {% endif %}
      </h2>
      <table class="table table-striped table-sm table-bordered">
        <thead>
          <tr>
            <th>รหัส</th>
            <th>คณะ</th>
            <th>สาขา</th>
            <th>ข้อมูลที่แสดงให้ผู้สมัคร</th>
          </tr>
        </thead>
        <tbody>
          {% for major in majors %}
            <tr>
              <td>{{ major.number }}</td>
              <td>{{ major.faculty }}</td>
              <td>{{ major.title }}</td>
              <td>
                {{ major.get_detail_items_as_list_display|safe }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
