{% extends 'backoffice/base.html' %}
{% load static %}
{% block additional_head %}
  <!-- Core CSS file -->
  <link rel="stylesheet" href="{% static 'lib/photoswipe/photoswipe.css' %}"> 
  <!-- Skin CSS file (styling of UI - buttons, caption, etc.)
       In the folder of skin CSS file there are also:
     - .png and .svg icons sprite, 
     - preloader.gif (for browsers that do not support CSS animations) -->
  <link rel="stylesheet" href="{% static 'lib/photoswipe/default-skin.css' %}"> 
{% endblock %}
{% block content %}
  <div class="row" style="margin-top: -10px;">
    <div class="col-md-12">
      <div class="float-right border rounded p5">
        {% include 'backoffice/projects/include/applicant_nav.html' %}
      </div>
      <div>
        <b>ผู้สมัครโครงการ{{ project }} {{ admission_round}} | สาขา{{ major.title }}</b>
        <small>
          (
          เรียกสัมภาษณ์แล้ว <span id="accepted_for_interview_count_id">{{ major_accepted_for_interview_count }}</span> คน
          {% if frozen_results and frozen_results.interview %}
            รับแล้ว <span id="accepted_count_id">{{ major_accepted_count }}</span> คน
          {% endif %}
          )
        </small>
        <br />
        {{ applicant }}
        {% if has_paid %}
          <span class="badge badge-success"><i class="fa fa-check"></i> ชำระค่าสมัครแล้ว</span>
        {% else %}
          <span class="badge badge-danger"><i class="fa fa-close"></i> ยังไม่ชำระค่าสมัคร</span>
        {% endif %}
      </div>
      {% include 'backoffice/projects/include/applicant_info.html' %}
      {% include 'backoffice/projects/include/applicant_toolbar.html' %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-2"> 
      <div id="document_menu_id" style="overflow-y: auto;">
        {% include 'backoffice/projects/include/applicant_uploaded_doc_menu.html' %}
      </div>
    </div>
    <div class="col-md-7">
      <div style="position: absolute; right: 16px; top: 6px; z-index: 10;">
        <a id="download_link_id" target="_blank" href="#" class="btn btn-secondary btn-sm rounded-0" style="display: none;"><i class="fa fa-download"></i></a>
      </div>
      {% include 'backoffice/projects/include/pswp_div.html' %}
      <div id="document_panel_id" class="border mt5 bg-light" style="overflow-y: auto; width: 100%;">
      </div>
    </div>
    <div class="col-md-3">
      <div id="comment_panel_id" style="overflow-y: auto;">
        {% include 'backoffice/projects/include/applicant_comments.html' %}
      </div>
    </div>
  </div>
  <form id="dummy_csrf_id" style="display: none;">
    {% csrf_token %}
  </form>
  <!-- Core JS file -->
  <script src="{% static 'lib/photoswipe/photoswipe.min.js' %}"></script> 
  <!-- UI JS file -->
  <script src="{% static 'lib/photoswipe/photoswipe-ui-default.min.js' %}"></script>
  <script>
    var csrftoken;
    
    var adjustHeight = function(sel, vh) {
      var top = $(sel).offset().top;
      $(sel).css('height',vh - top - 5);
    }

    var resizePanels = function() {
      var vh = $(window).height();
      adjustHeight('#document_panel_id',vh);
      adjustHeight('#document_menu_id',vh);
      adjustHeight('#comment_panel_id',vh);
    };
    
    $(function(){
      resizePanels();
      $(window).resize(resizePanels);

      csrftoken = $("#dummy_csrf_id input[name=csrfmiddlewaretoken]").val();      
    });

    function openPhotoSwipe(href) {
      var pswpElement = document.querySelectorAll('.pswp')[0];
      // build items array
      var items = [
        {
          src: href,
          w: 0,
          h: 0
        },
      ];
      
      // define options (if needed)
      var options = {
        // history & focus options are disabled on CodePen        
        history: false,
        focus: false,
        showAnimationDuration: 0,
        hideAnimationDuration: 0,
        bgOpacity: 0.85
      };
      
      var gallery = new PhotoSwipe( pswpElement, PhotoSwipeUI_Default, items, options);
      gallery.listen('gettingData', function(index, item) {
        if (item.w < 1 || item.h < 1) { // unknown size
          var img = new Image();
          img.onload = function() { // will get size after load
            item.w = this.width; // set image width
            item.h = this.height; // set image height
            gallery.invalidateCurrItems(); // reinit Items
            gallery.updateSize(true); // reinit Items
          }
          img.src = item.src; // let's download image
        }
      });

      gallery.init();
    };
  </script>
{% endblock %}
