<td class="text-center">{{ applicant.additional_info.course_results.0 }}</td>
<td class="text-center">{{ applicant.additional_info.course_results.1 }}</td>
<td class="text-center">{{ applicant.additional_info.course_results.2 }}</td>
<td class="text-center">{{ applicant.additional_info.course_results.3 }}</td>
<td class="text-center">{{ applicant.additional_info.course_results.4 }}</td>
<td class="text-center">{{ applicant.additional_info.course_results.5 }}</td>
<td class="text-center">{{ applicant.additional_info.course_results.6 }}</td>
<td class="text-center">{{ applicant.additional_info.course_results.7 }}</td>
<td class="text-center">{{ applicant.additional_info.course_results.8 }}</td>
<td class="text-center">{{ applicant.additional_info.course_results.9 }}</td>
<td class="text-center">{{ applicant.additional_info.course_results.10 }}</td>

