{% extends 'base.html' %}
{% load i18n %}
{% load appl_tags %}
{% block navbar-brand %}
  <a class="navbar-brand" href="{% url 'appl:index' %}">{% web_branding %}</a>
{% endblock %}
{% block navbar-additional %}
  {% get_current_language as LANGUAGE_CODE %}
  <div class="collapse navbar-collapse" id="navbarMenu">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'appl:index' %}">{% trans 'หน้าหลัก' %}</a>
      </li>
    </ul>
    {% if applicant %}
      <ul class="navbar-nav">
        <li class="nav-item">
          {% if LANGUAGE_CODE == 'th' %}
            {% language 'en' %}
              <div class="btn-group mr10">
                <span class="btn btn-sm btn-secondary">TH</span>
                <a class="btn btn-sm btn-outline-secondary" href="{% url 'appl:index' %}">EN</a>
              </div>
            {% endlanguage %}
          {% else %}
            {% language 'th' %}
              <div class="btn-group mr10">
                <a class="btn btn-sm btn-outline-secondary" href="{% url 'appl:index' %}">TH</a>
                <span class="btn btn-sm btn-secondary">EN</span>
              </div>
            {% endlanguage %}
          {% endif %}
        </li>
        <li class="nav-item">
          <a class="btn btn-sm btn-secondary" href="{% url 'regis:logout' %}">{% trans 'ออกจากระบบ' %}</a>
        </li>
      </ul>
    {% endif %}
  </div>
{% endblock %}
