{% extends 'base.html' %}
{% load i18n %}
{% block navbar-brand %}
  <a class="navbar-brand" href="{% url 'appl:index' %}">KU-TCAS'61</a>
{% endblock %}
{% block navbar-additional %}
  <div class="collapse navbar-collapse" id="navbarMenu">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'appl:index' %}">{% trans 'หน้าหลัก' %}</a>
      </li>
    </ul>
    {% if applicant %}
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="btn btn-sm btn-secondary" href="{% url 'regis:logout' %}">{% trans 'ออกจากระบบ' %}</a>
        </li>
      </ul>
    {% endif %}
  </div>
{% endblock %}
