{% extends 'appl/base.html' %}
{% load i18n %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <h1>{% trans 'ยินดีต้อนรับ' %} {{ applicant }}</h1>
  </div>
</div>

{% if notice %}
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        {{ notice }}
      </div>
    </div>
  </div>
{% endif %}

<div class="row">
  <div class="col-md-6">
    <ul>
      {% if personal_profile %}
        <li>
          {% trans 'เบอร์โทรศัพท์ติดต่อ' %}: {{ personal_profile.contact_phone }} 
          <a class="btn btn-sm btn-secondary" href="{% url 'appl:personal-profile' %}">{% trans 'แก้ไขข้อมูลส่วนตัว' %}</a>
        </li>
      {% else %}
        <li>
          <a class="btn btn-sm btn-primary" href="{% url 'appl:personal-profile' %}">{% trans 'กรอกข้อมูลส่วนตัว' context 'form link' %}</a>
        </li>
      {% endif %}
      {% if educational_profile %}
        <li>
          {% trans 'โรงเรียน' %}: {{ educational_profile.school_title }}<br />
          {% trans 'แผนการเรียน' %}: {{ educational_profile.get_education_plan_display }}, GPAX: {{ educational_profile.gpa|floatformat:"2" }}<br />
          <a class="btn btn-sm btn-secondary" href="{% url 'appl:education-profile' %}">{% trans 'แก้ไขข้อมูลการศึกษา' %}</a>
        </li>
      {% else %}
        <li>
          <a class="btn btn-sm btn-primary" href="{% url 'appl:education-profile' %}">{% trans 'กรอกข้อมูลการศึกษา' context 'form link' %}</a>
        </li>
      {% endif %}
    </ul>
  </div>

  {% if common_uploaded_documents %}
    <div class="col-md-6">
      <div class="all-document-upload-forms">
        {% for project_uploaded_document in common_uploaded_documents %}
          {% include 'appl/include/document_upload_form.html' %}
        {% endfor %}
      </div>
    </div>
  {% endif %}
  
  {% if other_application_rounds %}
    {% include 'appl/include/other_application_rounds.html' %}
  {% endif %}
</div>

{% if active_application %}
  {% include 'appl/include/active_application.html' %}
{% else %}
  <div class="row">
    <div class="col-md-12">
      {% include 'appl/include/project_list.html' %}
    </div>
  </div>
{% endif %}

{% include 'appl/include/document_upload_js.html' %}

{% endblock %}
