{% extends 'base.html' %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <h1>สวัสดีครับ {{ applicant }}</h1>
    <a href="{% url 'regis:logout' %}">Log out</a>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <ul>
      <li>กรอกข้อมุลส่วนตัว</li>
      <li><a href="{% url 'appl:education' %}">กรอกข้อมูลการศึกษา</a></li>
    </ul>
    </ul>
  </div>
  <div class="col-md-6">
    <div class="all-document-upload-forms">
      {% for project_uploaded_document in project_uploaded_documents %}
        {% include 'appl/include/document_upload_form.html' %}
      {% endfor %}
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    {% include 'appl/include/project_list.html' %}
  </div>
</div>

{% include 'appl/include/document_upload_js.html' %}
{% endblock %}
