{% extends 'base.html' %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <h1>ยินดีต้อนรับ {{ applicant }}</h1>
    <a href="{% url 'regis:logout' %}">Log out</a>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <ul>
      <li><a href="{% url 'appl:personal-profile' %}">กรอกข้อมูลส่วนตัว</a></li>
      <li><a href="{% url 'appl:education-profile' %}">กรอกข้อมูลการศึกษา</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <div class="all-document-upload-forms">
      {% for project_uploaded_document in common_uploaded_documents %}
        {% include 'appl/include/document_upload_form.html' %}
      {% endfor %}
    </div>
  </div>
</div>

{% if active_application %}
  {% include 'appl/include/active_application.html' %}
{% else %}
  <div class="row">
    <div class="col-md-12">
      {% include 'appl/include/project_list.html' %}
    </div>
  </div>
{% endif %}

{% include 'appl/include/document_upload_js.html' %}
{% endblock %}
