{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="row">
  {% if error_message %}
    <div class="col-md-12 ">
      <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>{{ error_message }}!</strong>
      </div>
    </div>
  {% endif %}
  <div class="col-md-12">
    <h1>{% trans 'เลือกสาขาโครงการ' %}{{ admission_project.title_trans }}</h1>
    {% trans 'ผู้สมัคร' %}: {{ applicant }} {% trans 'จำนวนสาขาที่เลือกได้' %} {{ admission_project.max_num_selections }}
    <form style="margin-top: 10px;" action="{% url 'appl:major-selection' admission_round.id %}" method="post">
      {% csrf_token %}
      <div id="selected" class="form-group">
        {% if selected_majors %}
          <div class="alert alert-info">
            {% trans 'สาขาที่เลือกคือ' %}: {{ selected_majors.faculty.title_trans }} - {{ selected_majors.title_trans }}
          </div>
        {% else %}
          <div class="alert alert-warning">
            {% trans 'ยังไม่ได้เลือกสาขา สามารถเลือกได้ 1 สาขา' %}
          </div>          
        {% endif %}
      </div>
      <div class="form-group">
        {% trans 'เลือกคณะเพื่อเลือกสาขา' context 'major selection' %}
        <select name="falculty" class="form-control" onchange="changeFaculty(this)">
          <option value="">{% trans 'เลือกคณะ' context 'major selection' %}</option>            
          {% for f in faculties %}
            <option 
              value="{{ f.id }}"
              {% if selected_majors and f.id == selected_majors.faculty_id %}
                selected
              {% endif %}
            >
              {{ f.title_trans }}
            </option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <ul 
          id="major-selected-list"                         
          class="list-group d-flex flex-row flex-wrap"
          style="font-size: small"          
        >
            {% for m in all_majors %}
              {% if selected_majors and selected_majors.faculty_id == m.faculty_id %}
                <li class="list-group-item d-flex col col-lg-3 col-12 justify-content-between">
                  {{ m.title_trans }}
                  <button type="button" class="btn btn-outline-success" onclick="selectMajor(this)" value="{{ forloop.counter }}">{% trans 'เลือกสาขานี้' context 'major selection' %}</button>
                </li>
              {% endif %}  
            {% endfor %}
          </ul>
      </div>
      <div class="form-group">
        <input type="submit" name="save" class="btn btn-success" value="{% trans 'จัดเก็บ' %}" />
        <input type="submit" name="cancel" class="btn btn-danger" value="{% trans 'ยกเลิก' %}" />
      </div>
    </form>
  </div>
</div>
<script>
  var majors = [];
  
  {% for m in all_majors %}
    majors[{{ m.number }}] = {
      number: "{{ m.number }}",
      title: "{{ m.title_trans|escapejs }}",
      faculty_id: "{{ m.faculty_id }}"
    };
  {% endfor %}

  faculties = [];
  {% for f in faculties %}
    faculties[{{ f.id }}] = {
      title: "{{ f.title_trans|escapejs }}"
    }
  {% endfor %}
  
  function changeFaculty(selected) {
    var majorsList = document.getElementById("major-selected-list");
    majorsList.innerHTML = "";
    majors.forEach(function(m, index) {
      if (selected.value === m.faculty_id) {
        var majorWrapper = document.createElement('li');
        majorWrapper.innerHTML = m.title;
        majorWrapper.setAttribute('class', 'list-group-item d-flex col col-lg-3 col-12 justify-content-between');
        
        var majorButton = document.createElement('button');
        majorButton.innerHTML = '{% trans 'เลือกสาขานี้' context 'major selection' %}';
        majorButton.setAttribute('value', index);
        majorButton.setAttribute('class', 'btn btn-outline-success major-button')
        majorButton.onclick = function(e) {
          e.preventDefault();
          selectMajor(e.target);
        }
        majorWrapper.appendChild(majorButton);
        majorsList.appendChild(majorWrapper);
      }
    })
  }
  
  function selectMajor(target) {
    $('#major-selected-list').children().children().each(function() {
      $(this).removeClass('btn-success').addClass('btn-outline-success')
    });
    target.setAttribute('class', 'btn btn-success');

    var selectedElement = document.getElementById('selected');
    var major = majors[target.value];
    selectedElement.innerHTML = '<div class="alert alert-info" role="alert">' + '{% trans 'สาขาที่เลือกคือ' %}: ' + faculties[major.faculty_id].title + ' - ' + majors[target.value].title + '</div>';
    var inputElement = document.createElement('input');
    inputElement.setAttribute('type', 'hidden');
    inputElement.setAttribute('name', 'major');
    inputElement.setAttribute('value', majors[target.value].number);
    selectedElement.appendChild(inputElement);
  }
</script>
{% endblock %}
