*~
*.pyc

/scripts/*.csv
settings_local.py
/data/*
/media/*
db.sqlite3

ENV
*.mo
main/static/react/node_modules/*

/scripts/notebooks/private*
/scripts/notebooks/.ipynb_checkpoints

.vscode
.python-version
.DS_Store
