*~
*.pyc

/scripts/*.csv
/scripts/data
settings_local.py
/data/*
/media/*
db.sqlite3

ENV
*.mo
main/static/react/node_modules/*

/scripts/private*
/scripts/notebooks/private*
/scripts/notebooks/*.csv
.ipynb_checkpoints

/scripts/*.xlsx
/scripts/*.csv

.vscode
.python-version
.DS_Store

/MEDIA_BACKUP_ID
/backupmedia
