[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
django-crispy-forms = "*"
django-debug-toolbar = "*"
django-debug-toolbar-template-timings = "*"
django-extensions = "*"
django-mailer = "*"
django-ses = "*"
future = "*"
lockfile = "*"
mysqlclient = "*"
python-barcode = "==0.13.1"
python-dateutil = "*"
python-magic = "*"
pytz = "*"
six = "*"
sqlparse = "*"
suds-py3 = "*"
Django = "~=3.2"
Pillow = "*"
XlsxWriter = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
xlrd = "*"
boto3 = "*"

[requires]
python_version = "3.6"
