[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
jupyter = "*"

[packages]
django-crispy-forms = "*"
django-debug-toolbar = "*"
django-debug-toolbar-template-timings = "*"
django-extensions = "*"
django-mailer = "==2.1"
django-ses = "*"
future = "*"
lockfile = "*"
mysqlclient = "*"
python-barcode = "==0.13.1"
python-dateutil = "*"
python-magic = "*"
pytz = "*"
six = "*"
sqlparse = "*"
suds-py3 = "*"
Django = "~=4.1"
Pillow = "==9.0.1"
XlsxWriter = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
xlrd = "*"
boto3 = "*"
openpyxl = "*"
pyyaml = "*"
mistune = "==2.0.3"

[requires]
python_version = "3.8"
