-i https://pypi.org/simple
asgiref==3.12.1
asn1crypto==1.5.1
boto3==1.43.93
botocore==1.43.93
cffi==2.1.1
crispy-bootstrap4==2026.2
cryptography==50.0.1
django==5.2.17
django-crispy-forms==2.7
django-debug-toolbar==8.0.0
django-debug-toolbar-template-timings==0.9
django-extensions==4.1
django-filter==26.1
django-mailer==2.3.2
django-ses==4.8.0
djangorestframework==3.18.1
et-xmlfile==2.0.0
future==1.0.0
jmespath==1.1.0
lockfile==0.12.2
markdown==3.10.3
mistune==2.0.3
mysqlclient==2.2.8
openpyxl==3.1.5
pillow==12.3.0
pycparser==3.0
python-barcode==0.13.1
python-dateutil==2.9.0.post0
python-magic==0.4.27
pytz==2026.3.post1
pyyaml==6.0.3
s3transfer==0.19.2
six==1.17.0
sqlparse==0.6.0
suds-py3==1.4.5.0
typing-extensions==4.16.0
urllib3==2.7.0
xlrd==2.0.2
xlsxwriter==3.2.9
