-i https://pypi.org/simple
asgiref==3.5.2
backports.zoneinfo==0.2.1
boto3==1.24.74
botocore==1.27.74
django==4.1.2
django-crispy-forms==1.14.0
django-debug-toolbar==3.6.0
django-debug-toolbar-template-timings==0.9
django-extensions==3.2.1
django-filter==22.1
django-mailer==2.1
django-ses==3.1.2
djangorestframework==3.13.1
et-xmlfile==1.1.0
future==0.18.2
importlib-metadata==4.12.0
jmespath==1.0.1
lockfile==0.12.2
markdown==3.4.1
mistune==2.0.3
mysqlclient==2.1.1
openpyxl==3.0.10
pillow==9.0.1
python-barcode==0.13.1
python-dateutil==2.8.2
python-magic==0.4.27
pytz==2022.2.1
pyyaml==6.0
s3transfer==0.6.0
six==1.16.0
sqlparse==0.4.2
suds-py3==1.4.5.0
urllib3==1.26.12
xlrd==2.0.1
xlsxwriter==3.0.3
zipp==3.8.1
