<div class="row">
  <div class="col-md-12  tborder-a0 mt5 pt5">
    {% include 'appl/include/project_cancel_link.html' %}
    <h2>โครงการ{{ active_application.admission_project }} ({{ admission_round }})</h2>
    {% include 'appl/include/project_cancel_div.html' %}
  </div>
</div>
{% if active_application.admission_project.descriptions %}
  <div class="row">
    <div class="col-md-12">
      <div class="border-a0 p5 mb5 pl10 pr10">
        {{ active_application.admission_project.descriptions|safe }}
      </div>
    </div>
  </div>
{% endif %}
<div class="row">
  <div {% if project_uploaded_documents %} class="col-md-5" {% else %} class="col-md-12" {% endif %}>
    {% include 'appl/include/project_supplement_link.html' %}

    {% include 'appl/include/major_selection_item.html' %}

    {% if active_application.admission_project.max_num_selections == 1 %}
      {% with active_application.admission_project as project %}
        {% include 'appl/include/selected_major_details.html' %}
      {% endwith %}
    {% endif %}

    <div id="project_status_div_id">
      {% include 'appl/include/application_document_status.html' %}
    </div>

    {% if documents_complete_status.status and major_selection %}
      {% if active_application.admission_project.id == 3 %}
        <div class="project-appl-sections">
          <h4>พิมพ์ใบสมัคร</h4>
          คุณกรอกข้อมูลครบถ้วนแล้ว<br />
          <a href="{% url 'appl:natsport-print' %}" target="_blank" class="btn btn-sm btn-success">พิมพ์ใบสมัคร</a>
        </div>
      {% endif %}
    {% endif %}
  </div>
  {% if project_uploaded_documents %}
    <div class="col-md-7">
      <h4>อัพโหลดเอกสาร</h4>
      <div class="all-document-upload-forms">
        {% for project_uploaded_document in project_uploaded_documents %}
          {% include 'appl/include/document_upload_form.html' %}
        {% endfor %}
      </div>
    </div>
  {% endif %}
</div>
<script>
  $(function(){
    $("#cancel_link_id").click(function() {
      $(".canceling-confirmations").slideDown();
      $("#cancel_link_id").hide();
      return false;
    });
  });
</script>
