{% load i18n %}
<div class="row">
  <div class="col-md-12  tborder-a0 mt5 pt5">
    {% if not is_deadline_passed %}
      {% include 'appl/include/project_cancel_link.html' %}
    {% else %}
      {% include 'appl/include/project_deadline_announcement.html' %}
    {% endif %}
    {% get_current_language as LANGUAGE_CODE %}
    <h2>{% if LANGUAGE_CODE == 'th' %}โครงการ{% endif %}{{ active_application.admission_project.title_trans }} ({{ admission_round.title_trans }})</h2>
    {% include 'appl/include/project_cancel_div.html' %}
  </div>
</div>

<div class="alert alert-warning">
  <span class="badge badge-success">การตรวจสอบสถานะการยืนยันสิทธิ์</span>
  ขณะนี้ผู้สมัครที่สนใจสามารถสมัครรับตรงอิสระรอบที่ 5 ได้ทันที โดยไม่จำเป็นต้องผ่านการตรวจสอบสถานะการยืนยันสิทธิ์ก่อน  แต่ทีมงานจะตรวจสอบสถานะผู้สมัครทุกท่านอีกครั้งในวันที่ 16 ก.ค. ก่อนการประกาศผล<br/>
  <div class=""><span class="badge badge-success">เลื่อนกำหนดการรับสมัคร</span> ถึงวันที่ 14 ก.ค. เวลา 23:59 สามารถชำระเงินค่าสม้ครได้ถึงวันที่ 15 ก.ค. (ผู้สมัครที่ได้พิมพ์ใบชำระเงินแล้ว ถ้าต้องการชำระเงินหลังวันที่ 12 กรุณาพิมพ์ใบชำระเงินใหม่)</div>
</div>

{% if not has_confirmed %}
  {% if active_application.admission_project.descriptions %}
    <div class="row">
      <div class="col-md-12">
        <div class="border-a0 p5 mb10 pl10 pr10">
          {{ active_application.admission_project.descriptions|safe }}
        </div>
      </div>
    </div>
  {% endif %}
{% endif %}

{% if accepted_result_shown %}
  {% include 'appl/include/project_accepted_result.html' %}
{% else %}
  {% if accepted_for_interview_result_shown %}
    {% include 'appl/include/project_accepted_for_interview_result.html' %}
  {% endif %}
{% endif %}
<div class="row">
  <div {% if project_uploaded_documents %} class="col-md-5" {% else %} class="col-md-12" {% endif %}>
    {% if accepted_for_interview_result_shown and is_accepted_for_interview %}
      {% include 'appl/include/interview_application_print_hook.html' %}
    {% endif %}
    
    {% if supplement_blocks %}
      {% include 'appl/include/supplement_blocks.html' %}
    {% endif %}
    
    {% include 'appl/include/project_supplement_link.html' %}

    {% include 'appl/include/major_selection_item.html' %}

    {% if active_application.admission_project.max_num_selections == 1 %}
      {% with active_application.admission_project as project %}
        {% include 'appl/include/selected_major_details.html' %}
      {% endwith %}
    {% endif %}

    <div id="project_status_div_id">
      {% include 'appl/include/application_document_status.html' %}
    </div>

    {% if documents_complete_status.status and major_selection %}
      {% include 'appl/include/paper_application_print_hook.html' %}
    {% endif %}
  </div>
  {% if project_uploaded_documents %}
    <div class="col-md-7">
      <h4>{% trans 'อัพโหลดเอกสาร' %}</h4>
      <div class="all-document-upload-forms">
        {% for project_uploaded_document in project_uploaded_documents %}
          {% include 'appl/include/document_upload_form.html' %}
        {% endfor %}
      </div>
    </div>
  {% endif %}
</div>
<script>
  $(function(){
    $("#cancel_link_id").click(function() {
      $(".canceling-confirmations").slideDown();
      $("#cancel_link_id").hide();
      return false;
    });
  });
</script>
