<div style="background: #f0f0f0; border: 1px solid #e0e0e0; margin: 5px 0 5px 0; padding: 10px;" class="project-document-upload-forms">
  {% with project_uploaded_document as doc %}
  <p>
    <b>{{ doc.title }}</b> &nbsp;&nbsp; {{ doc.descriptions|linebreaksbr }}
  </p>
  <form class="upload-forms" action="{% url 'appl:upload' doc.id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" class="input-files" name="uploaded_file" required id="id_uploaded_file" />
    <input type="submit" class="btn btn-success upload-form-submit-buttons" value="อัพโหลด" />
    <br />
    <small>{{ doc.specifications }}</small>

    <br />
    <small style="color:red" class="document-upload-errors"></small> {% if doc.applicant_uploaded_documents %}
    <ul>
      {% for d in doc.applicant_uploaded_documents %}
      <li>
        <a href="{% url 'appl:document-download' applicant.id doc.id d.id %}">
          {{ d.uploaded_file.name }}
        </a>
        <a data-delete-url="{% url 'appl:document-delete' applicant.id doc.id d.id %}" href="#" class="upload-form-delete-buttons">
          delete
        </a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
    <div class="progress-bars" style="display:none; text-align: center; width: 200px; border: 1px solid #707070;"></div>
  </form>
  {% endwith %}
  {% include 'appl/include/document_delete_js.html' %}
</div>
