{% load i18n %}
{% if instruction_step %}
  <div class="col-md-12">
    <div class="alert alert-info" role="alert">
      <span>{% trans 'โปรดกรอกข้อมูลต่างๆ ให้ครบ ก่อนที่จะเลือกสมัครโครงการที่ต้องการ' %}</span>
      <ol>
        <li>{% trans 'ข้อมูลพื้นฐาน' %} ✓</li>
        <li>{% trans 'ข้อมูลส่วนตัว' %} {% if instruction_step > 2%}✓{% elif instruction_step == 2 %}({% trans 'หน้าปัจจุบัน' %}){% endif %}</li>
        <li>{% trans 'ข้อมูลการศึกษา' %} {% if instruction_step > 3%}✓{% elif instruction_step == 3 %}({% trans 'หน้าปัจจุบัน' %}){% endif %}</li>
        <li>{% trans 'เลือกโครงการ' %}</li>
      </ol>
    </div>
  </div>
{% endif %}
