{% load appl_tags %}
<div class="row">
    <div class="col-md-12">
        <h3>
          ข้อมูลการสัมภาษณ์
	</h3>
	<h3 class="d-none">
	  สาขา{{ major }}<br>
	  โครงการ{{ admission_project }}
        </h3>

        <div id="preview-root">
            <h4>ข้อมูลทั่วไป</h4>
            <div class="form-row">
                <div class="col-md-3">
                    รูปแบบการสัมภาษณ์
                </div>
                <div class="col-md-9" id="preview-interview_options">
                    {{interview_description.get_interview_options_display}}
                </div>
            </div>
            <div class="form-row mt-2">
                <div class="col-md-3">การส่งเอกสารเพิ่มเติม
                </div>
                <div class="col-md-9" id="preview-is_additional_documents_required">
                    {{interview_description.get_additional_documents_option_user_display}}
                </div>
            </div>
            <div class="form-row mt-2 form-group interview-date-groups">
                <div class="col-md-3">
                    วันเวลา
                </div>
                <div class="col-md-9" id="preview-interview_date">
		              {{interview_description.interview_date|thaidate }} 
                  {% if interview_description.is_multiday_interview %}
                    - {{ interview_description.get_interview_end_date|thaidate }}
                  {% endif %}
                  เวลา {{interview_description.interview_date|date:'H:i'}}
                </div>
            </div>

	    <div class="form-row mt-2 no-interview-no-doc-groups">
                <div class="col-md-12">
                  <p>
		    ผู้สมัครจะได้รับการประกาศรายชื่อเป็นผู้ผ่านการสอบสัมภาษณ์ในวันที่ {{ interview_description.admission_round.acceptance_result_date|thaidate }} (เวลา 13:00 น.)		 
		    พร้อมแจ้งกำหนดการยืนยันสิทธิ์ในวันที่ {{ interview_description.admission_round.clearing_house_dates }}
		  </p>
                </div>
            </div>
            <div class="form-row mt-2 no-interview-upload-groups">
                <div class="col-md-12">
                    <p>กรรมการจะพิจารณาเอกสารที่ส่งเพิ่มเติมในการตัดสินผลการสอบสัมภาษณ์</p>
                </div>
            </div>
	    
            <h4 class="mt-3 interview-prep-groups">การเตรียมตัวก่อนสัมภาษณ์</h4>
            <div class="form-row interview-prep-groups">
                <div class="col-md-9">
                    <p id="preview-preparation_descriptions">
                        {{interview_description.preparation_descriptions}}
                    </p>
                </div>
                <div class="col-md-3 pr-2">
                  <div id="preview-preparation_image">
                    {% if interview_description.preparation_image %}
                      <img width="250px" class="img-fluid interview-images" id="prepImgId" alt="preparation"
			   data-preview-title="รูปประกอบการเตรียมตัว"
                           src="{% url 'backoffice:interviews-image' description_id=interview_description.id type='preparation' %}?h={{ interview_description_hash }}"
                      >
		      <small class="text-muted">คลิ๊กที่รูปเพื่อขยาย</small>
                    {% endif %}
                    </div>
                </div>
            </div>

            <h4 class="mt-3 interview-info-groups"><span
                    class="interview-format-headers">รายละเอียดการสัมภาษณ์ออนไลน์</span>
            </h4>
            <div class="form-row online-platform-forms interview-info-groups">
                <div class="col-md-3">
                    สัมภาษณ์ผ่านทางโปรแกรม
                </div>
                <div class="col-md-9" id="preview-video_conference_platform">
                    {{interview_description.get_video_conference_platform_display}}

                </div>
            </div>
            <div class="form-row mt-2 interview-info-groups">
                <div class="col-md-9">
                    <p id="preview-descriptions">
                        {{interview_description.descriptions}}
                    </p>
                </div>
                <div class="col-md-3">
                    <br>
                    <div id="interview-description_image">
                      {% if interview_description.description_image %}
                        <img width="250px" class="img-fluid interview-images" id="descImgId" alt="preparation"
			     data-preview-title="รูปประกอบข้อมูลการสัมภาษณ์"
                             src="{% url 'backoffice:interviews-image' description_id=interview_description.id type='description' %}?h={{ interview_description_hash }}"
                        >
			<small class="text-muted">คลิ๊กที่รูปเพื่อขยาย</small>
                      {% endif %}
                    </div>
                </div>
            </div>
            <h4 class="mt-3 interview-contact-groups">ข้อมูลการติดต่อ</h4>
            <div class="interview-contact-groups">
              <ol id="preview-contacts">
		{% for c in interview_description.contacts %}
		  <li>
		    ชื่อ: {{ c.name }} โทร: {{ c.tel }} อีเมล: {{ c.email }}
		  </li>
		{% endfor %}
              </ol>
	      <small class="text-muted">กรุณาติดต่อทางโทรศัพท์เฉพาะกรณีเร่งด่วน ในช่วงเวลาสัมภาษณ์เท่านั้น</small>
            </div>
        </div>

    </div>
</div>
<div class="modal" id="imagePreviewId" tabindex="-1" role="dialog" aria-labelledby="imagePreviewTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="imagePreviewTitleId"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	<div class="container-fluid">
          ...
	</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
      </div>
    </div>
  </div>
</div>
<style>
 img.img-fluid {
     display: none;
 }

 img.img-fluid[src] {
     display: block;
 }

 input[readonly], label:has(input[readonly]) {
     pointer-events: none;
 }

</style>
<script>
  var interviewFormatHeaders = {
    '0': 'ไม่มีการสัมภาษณ์',
    '1': 'รายละเอียดการสัมภาษณ์ออนไลน์',
    '2': 'รายละเอียดการสัมภาษณ์'
  };
 
  var formSectionDisplay = {
    '0-nodoc': {
      'show': ['.no-interview-no-doc-groups'],
      'hide': ['.online-platform-forms', '.interview-date-groups',
        '.interview-prep-groups', '.interview-info-groups',
        '.interview-contact-groups', '.no-interview-upload-groups']
    },
    '0-upload': {
      'show': ['.interview-prep-groups', '.interview-contact-groups', '.no-interview-upload-groups'],
      'hide': ['.online-platform-forms', '.interview-date-groups',
        '.interview-info-groups', '.no-interview-no-doc-groups']
    },
    '1': {
      'show': ['.online-platform-forms', '.interview-date-groups',
        '.interview-prep-groups', '.interview-info-groups',
        '.interview-contact-groups'],
      'hide': ['.no-interview-no-doc-groups', '.no-interview-upload-groups']
    },
    '2': {
      'show': ['.interview-date-groups', '.interview-prep-groups',
        '.interview-info-groups', '.interview-contact-groups'],
      'hide': ['.online-platform-forms', '.no-interview-no-doc-groups',
        '.no-interview-upload-groups']
    }
  }


  function updateInterviewFormatHeader() {
    var formatSelectValue = '{{ interview_description.interview_options }}';
    const documentUploadValue = '{{ interview_description.additional_documents_option }}';
    
    if (formatSelectValue == '') {
      formatSelectValue = '1';
    }
    $('.interview-format-headers').text(interviewFormatHeaders[formatSelectValue]);
    var displayValue = formatSelectValue;
    if (formatSelectValue == '0') {
      if (documentUploadValue == '0') {
        displayValue = '0-nodoc';
      } else {
        displayValue = '0-upload';
      }
    }

    formSectionDisplay[displayValue]['show'].forEach(function (sel) {
      $(sel).show();
    });
    formSectionDisplay[displayValue]['hide'].forEach(function (sel) {
      $(sel).hide();
    });
  }


  $(document).ready(function () {
    updateInterviewFormatHeader();
    
    function linkify(element) {
      const text = element.innerHTML
      element.innerHTML = linkifyHtml(text.replaceAll("\n", "<br>"))
    }
    linkify(document.getElementById('preview-descriptions'))
    linkify(document.getElementById('preview-preparation_descriptions'))

    $('.interview-images').click(function(){
      var imgSrc = $(this).attr('src');
      var title = $(this).data('previewTitle');
      $('#imagePreviewTitleId').text(title);
      $('#imagePreviewId .modal-body .container-fluid').html('<img width="100%" src="' + imgSrc + '">');
       $('#imagePreviewId').modal();
    });
  });
</script>
<script src="https://cdn.jsdelivr.net/npm/linkifyjs@4.1.1/dist/linkify.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/linkify-html@4.1.1/dist/linkify-html.min.js"></script>

