{% load i18n %}
<div class="project-appl-sections bborder-superlight">
  <h4>{% trans 'สาขาที่สมัคร' %}</h4>
  {% if major_selection %}
    {% blocktrans count counter=active_application.admission_project.max_num_selections %}
      สามารถเลือกได้ {{ counter }} สาขา สาขาที่คุณเลือกคือ<br />
    {% plural %}
      สามารถเลือกได้ {{ counter }} สาขา สาขาที่คุณเลือกคือ<br />
    {% endblocktrans %}
    {% for m in major_selection.get_majors %}
      <div>
        {{ forloop.counter }}.
        {% if accepted_for_interview_result_shown %}
          {% if m.is_accepted_for_interview %}
            <span class="badge badge-success"><i class="fa fa-check"></i> เรียกสัมภาษณ์</span>
          {% else %}
            <span class="badge badge-secondary"><i class="fa fa-close"></i> ไม่เรียกสัมภาษณ์</span>
          {% endif %}
        {% endif %}
        {{ m.faculty.title_trans }} - {{ m.title_trans }}
        {% if active_application.admission_project.max_num_selections > 1 %}
          <a class="badge badge-pill badge-secondary major-info-toggle-links" data-major-number="{{ m.number }}" href="#">แสดงรายละเอียด</a>
          <div id="major_info_{{ m.number }}_id" style="display: none;" class="bg-light border rounded mt5">
            {{ m.get_detail_items_as_list_display|safe }}
          </div>
        {% endif %}
      </div>
    {% endfor %}
    <div class="mt5">
      {% if not is_deadline_passed %}
        <a class="btn btn-sm btn-primary" href="{% url 'appl:major-selection' admission_round.id %}">{% trans 'แก้ไขสาขาที่เลือก' context 'major link' %}</a>
      {% else %}
        <small>
          {% trans 'หมดเขตการรับสมัครแล้ว ขณะนี้ไม่สามารถแก้ไขอันดับที่เลือกได้' %}
        </small>
      {% endif %}
    </div>
  {% else %}
    {% blocktrans count counter=active_application.admission_project.max_num_selections%}
      คุณยังไม่ได้เลือกสาขาที่จะสมัคร (เลือกได้ {{ counter }} สาขา)<br />
    {% plural %}
      คุณยังไม่ได้เลือกสาขาที่จะสมัคร (เลือกได้ {{ counter }} สาขา)<br />
    {% endblocktrans %}
    {% if not is_deadline_passed %}
      <a class="btn btn-sm btn-primary" href="{% url 'appl:major-selection' admission_round.id %}">{%  trans 'เลือกสาขา' context 'major link' %}</a>
    {% else %}
      {% trans 'หมดเขตการรับสมัครแล้ว ขณะนี้ไม่สามารถแก้ไขอันดับที่เลือกได้' %}
    {% endif %}
  {% endif %}
</div>
<script>
  $(function(){
    $(".major-info-toggle-links").click(function(){
      var num = $(this).data('majorNumber');
      $("#major_info_" + num + "_id").slideToggle();
      return false;
    });
  });
</script>
