<li>
  {% if major_selection %}
    สามารถเลือกได้ {{ active_application.admission_project.max_num_selections }} สาขา สาขาที่คุณเลือกคือ<br />
    {% for m in major_selection.get_majors %}
      {{ forloop.counter }}. {{ m.faculty }} - {{ m.title }}<br />
    {% endfor %}
    <a class="btn btn-sm btn-primary" href="{% url 'appl:major-selection' admission_round.id %}">แก้ไขสาขาที่เลือก</a>
  {% else %}
    คุณยังไม่ได้เลือกสาขาที่จะสมัคร (เลือกได้ {{ active_application.admission_project.max_num_selections }} สาขา่)<br />
    <a class="btn btn-sm btn-primary" href="{% url 'appl:major-selection' admission_round.id %}">เลือกสาขา</a>
  {% endif %}
</li>
