{% if active_application.admission_project.id == 3 %}{# โควตาทีมชาติ #}
  <div class="project-appl-sections">
    <h4>พิมพ์ใบสมัคร</h4>
    คุณกรอกข้อมูลครบถ้วนแล้ว<br />
    <a href="{% url 'appl:natsport-print' %}" target="_blank" class="btn btn-sm btn-success">พิมพ์ใบสมัคร</a>
  </div>
{% endif %}
{% if active_application.admission_project.id == 18 %}{# โควตานักกีฬาดีเด่น #}
  <div class="project-appl-sections">
    <h4>พิมพ์ใบสมัคร</h4>
    คุณกรอกข้อมูลครบถ้วนแล้ว<br />
    <a href="{% url 'appl:gensport-print' %}" target="_blank" class="btn btn-sm btn-success">พิมพ์ใบสมัคร</a><br />
    เมื่อพิมพ์แล้วให้ส่งทางไปรษณีย์พร้อมด้วยเอกสารอื่น ๆ ให้ส่งแบบ EMS เท่านั้น มายังฝ่ายรับเข้าศึกษา มหาวิทยาลัยเกษตรศาสตร์ ภายในวันที่ 5 ก.พ. 61
  </div>
{% endif %}
{% if active_application.admission_project.id == 12 %}{# โควตาสาธิต #}
  <div class="project-appl-sections">
    <h4>พิมพ์ใบสมัคร</h4>
    คุณกรอกข้อมูลครบถ้วนแล้ว<br />
    <a href="{% url 'appl:kus-print' %}" target="_blank" class="btn btn-sm btn-success">พิมพ์ใบสมัคร</a><br />
    เมื่อพิมพ์ใบสมัครแล้วให้นำให้สถานศึกษารับร้องและจัดส่งสร้อมเอกสารประกอบตามช่องทางที่กำหนดในประกาศ (ส่งให้อาจารย์แนะแนวภายใน 10 ก.พ. 61 และส่งให้สำนักทะเบียนและประมวลผลมหาวิทยาลัยเกษตรศาสตร์ภายใน 11 ก.พ. 61)
  </div>
{% endif %}
{% if active_application.admission_project.id == 19 %}{# โควตาศิลปวัฒนธรรม #}
  <div class="project-appl-sections">
    <h4>พิมพ์ใบสมัคร</h4>
    โควตาศิลปวัฒนธรรมจะสามารถพิมพ์ใบสมัครได้ในวันที่ <del>17 ม.ค. 2561</del> 18 ม.ค. 2561
  </div>
{% endif %}
