{% if active_application.admission_project.id == 4 %}{# โควตาทีมชาติ #}
  <div class="project-appl-sections">
    <h4>พิมพ์ใบสมัคร</h4>
    คุณกรอกข้อมูลครบถ้วนแล้ว<br />
    <a href="{% url 'appl:natsport-print' %}" target="_blank" class="btn btn-sm btn-success">พิมพ์ใบสมัคร</a>
  </div>
{% endif %}
{% if active_application.admission_project.id == 11 %}{# โควตานักกีฬาดีเด่น #}
  <div class="project-appl-sections">
    <h4>พิมพ์ใบสมัคร</h4>
    คุณกรอกข้อมูลครบถ้วนแล้ว<br />
    <a href="{% url 'appl:gensport-print' %}" target="_blank" class="btn btn-sm btn-success">พิมพ์ใบสมัคร</a><br />
    เมื่อพิมพ์แล้วให้ส่งทางไปรษณีย์พร้อมด้วยเอกสารการสมัครทั้งหมด ทางไปรษณีย์แบบด่วนพิเศษ EMS ภายในวันที่ 20 ก.พ. 2562 โดยจ่าหน้าซองขนาด A4 และให้ระบุมุมซองล่างซ้ายว่า (โครงการรับผู้มีความสามารถทางกีฬาดีเด่นฯ ปีการศึกษา 2562) และส่งเอกสารมายังฝ่ายรับเข้าศึกษา สำนักทะเบียนและประมวลผล มหาวิทยาลัยเกษตรศาสตร์ ภายในวันที่ 20 ก.พ. 2562 (กรุณาอ่านรายละเอียดเพิ่มเติมจากประกาศรับสมัคร)
  </div>
{% endif %}
{% if active_application.admission_project.id == 5 %}{# โควตาสาธิต #}
  <div class="project-appl-sections">
    <h4>พิมพ์ใบสมัคร</h4>
    คุณกรอกข้อมูลครบถ้วนแล้ว<br />
    <a href="{% url 'appl:kus-print' %}" target="_blank" class="btn btn-sm btn-success">พิมพ์ใบสมัคร</a><br />
    เมื่อพิมพ์ใบสมัครแล้วให้นำให้สถานศึกษารับร้องและจัดส่งสร้อมเอกสารประกอบตามช่องทางที่กำหนดในประกาศ (ส่งให้อาจารย์แนะแนวภายใน 28 ก.พ. 62 และให้อาจารย์แนะแนวส่งที่ฝ่ายรับเข้าศึกษา สำนักทะเบียนและประมวลผลมหาวิทยาลัยเกษตรศาสตร์ภายในวันที่ 5 มี.ค. 62)
  </div>
{% endif %}
{% if false and active_application.admission_project.id == 19 %}{# โควตาศิลปวัฒนธรรม #}
  <div class="project-appl-sections">
    <h4>พิมพ์ใบสมัคร</h4>
    คุณกรอกข้อมูลครบถ้วนแล้ว<br />
    <a href="{% url 'appl:culture-print' %}" target="_blank" class="btn btn-sm btn-success">พิมพ์ใบสมัคร</a><br />
  </div>
{% endif %}
