{% if active_application.admission_project.id == 4 %}{# โควตาทีมชาติ #}
  <div class="project-appl-sections">
    <h4>พิมพ์ใบสมัคร</h4>
    คุณกรอกข้อมูลครบถ้วนแล้ว<br />
    <a href="{% url 'appl:natsport-print' %}" target="_blank" class="btn btn-sm btn-success">พิมพ์ใบสมัคร</a>
  </div>
{% endif %}
{% if active_application.admission_project.id == 17 %}{# โควตานักกีฬาดีเด่น #}
  <div class="project-appl-sections">
    <h4>พิมพ์ใบสมัคร</h4>
    คุณกรอกข้อมูลครบถ้วนแล้ว<br />
    <a href="{% url 'appl:gensport-print' %}" target="_blank" class="btn btn-sm btn-success">พิมพ์ใบสมัคร</a><br />
    เมื่อพิมพ์แล้วให้ส่งทางไปรษณีย์พร้อมด้วยเอกสารการสมัครทั้งหมด ทางไปรษณีย์แบบด่วนพิเศษ EMS เท่านั้น โดยส่งได้ตั้งแต่<b>วันที่ 5 - 25 มี.ค. 2564</b> (จะถือเอาวันที่ประทับตราไปรษณีย์ต้นทาง<b>วันที่ 25 มี.ค. 2564</b> เป็นวันสุดท้ายของการส่งเอกสาร) โดยจ่าหน้าซองขนาด A4 และให้ระบุมุมซองล่างซ้ายว่า (โครงการรับผู้มีความสามารถทางกีฬาดีเด่นฯ ปีการศึกษา 2564) และส่งเอกสารมายังฝ่ายรับสมัครและพัฒนาการรับเข้าศึกษา สำนักบริหารการศึกษา มหาวิทยาลัยเกษตรศาสตร์ <b>ห้ามส่งใบสมัครและเอกสารประกอบการสมัครรวมกับบุคคลอื่น</b> (กรุณาอ่านรายละเอียดเพิ่มเติมจากประกาศรับสมัคร)
  </div>
{% endif %}
{% if active_application.admission_project.id == 11 %}{# โควตาสาธิต #}
  <div class="project-appl-sections">
    <h4>พิมพ์ใบสมัคร</h4>
    คุณกรอกข้อมูลครบถ้วนแล้ว<br />
    <a href="{% url 'appl:kus-print' %}" target="_blank" class="btn btn-sm btn-success">พิมพ์ใบสมัคร</a><br />
    เมื่อพิมพ์ใบสมัครแล้วให้นำให้สถานศึกษารับร้องและจัดส่งสร้อมเอกสารประกอบตามช่องทางที่กำหนดในประกาศ (ส่งให้อาจารย์แนะแนวภายใน 26 มี.ค. 2564 และให้อาจารย์แนะแนวส่งที่ฝ่ายรับสมัครและพัฒนาการรับเข้าศึกษา สำนักบริหารการศึกษา มหาวิทยาลัยเกษตรศาสตร์ภายในวันที่ 29 มี.ค. 2564)
  </div>
{% endif %}
{% if false and active_application.admission_project.id == 19 %}{# โควตาศิลปวัฒนธรรม #}
  <div class="project-appl-sections">
    <h4>พิมพ์ใบสมัคร</h4>
    คุณกรอกข้อมูลครบถ้วนแล้ว<br />
    <a href="{% url 'appl:culture-print' %}" target="_blank" class="btn btn-sm btn-success">พิมพ์ใบสมัคร</a><br />
  </div>
{% endif %}
