{% load appl_tags %}
{% load i18n %}
{% if paid_amount >= active_application.admission_fee %}
  <i style="color: green" class="fa fa-check" aria-hidden="true"></i>
{% endif %}
<b>{% trans 'การชำระค่าสมัคร' %}:</b>
{% blocktrans with fee=active_application.admission_fee %}
  ค่าสมัคร {{ fee }} บาท
  ชำระแล้ว {{ paid_amount }} บาท
{% endblocktrans %}
{% if active_application.admission_fee > paid_amount %}
  {% blocktrans %}
    ต้องชำระเพิ่ม {{ additional_payment }} บาท<br />
  {% endblocktrans %}
  <a target="_blank" class="btn btn-sm btn-success" href="{% url 'appl:payment' active_application.id %}"><i class="fa fa-bank"></i> {% trans 'พิมพ์ใบชำระเงิน' %}</a><br />
  <small>{% trans 'ชำระได้ถึงวันที่' %} {{ payment_deadline|thaidate }}</small>
{% else %}
  {% trans 'ไม่ต้องชำระเพิ่ม' %}
{% endif %}
