{% load appl_tags %}
{% load i18n %}
{% if paid_amount >= active_application.admission_fee %}
  <i style="color: green" class="fa fa-check" aria-hidden="true"></i>
{% endif %}
<b>{% trans 'การชำระค่าสมัคร' %}:</b>
{% blocktrans with fee=active_application.admission_fee %}
  ค่าสมัคร {{ fee }} บาท
  ชำระแล้ว {{ paid_amount }} บาท
{% endblocktrans %}
{% if active_application.admission_fee > paid_amount %}
  {% blocktrans %}
    ต้องชำระเพิ่ม {{ additional_payment }} บาท<br />
  {% endblocktrans %}
  <div class="alert alert-info">
    สามารถชำระได้ 2 ช่องทาง <b>ให้ผู้สมัครเลือกชำระทางใดทางหนึ่งเท่านั้น</b>  เมื่อชำระเงินแล้ว ข้อมูลการชำระเงินจะปรากฏในระบบในวันทำการถัดไป ก่อนเวลา 13:00
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">ช่องทางที่ 1</h5>
          <p class="card-text">
            ชำระด้วย QR Code ผ่านทาง Mobile Banking App ของธนาคารใดก็ได้ ไม่เสียค่าธรรมเนียม
          </p>
          <a class="btn btn-primary btn-block" href="{% url 'appl:payment-qr' active_application.id %}">
            <div class="d-lg-none d-xl-inline">
              <i class="fa fa-qrcode"></i> ชำระด้วย QR Code
            </div>
            <div class="d-none d-lg-inline d-xl-none">
              <i class="fa fa-qrcode"></i> QR Code
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">ช่องทางที่ 2</h5>
          <p class="card-text">
            ชำระผ่านทางเคาน์เตอร์ธนาคารกรุงเทพ หรือบริการ Counter Service มีค่าธรรมเนียม 10 บาท
          </p>
          <a target="_blank" class="btn btn-primary btn-block" href="{% url 'appl:payment' active_application.id %}">
            <div class="d-lg-none d-xl-inline">
              <i class="fa fa-bank"></i> {% trans 'พิมพ์ใบชำระเงิน' %}
            </div>
            <div class="d-none d-lg-inline d-xl-none">
              <i class="fa fa-bank"></i> ใบชำระเงิน
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <b>{% trans 'ชำระได้ถึงวันที่' %} {{ payment_deadline|thaidate }}</b>
{% else %}
  {% trans 'ไม่ต้องชำระเพิ่ม' %}
{% endif %}
