<h2>รายการโครงการรับสมัคร{% if admission_round %}{{ admission_round }}{% endif %}</h2>
{% if admission_round %}
  {% for project in admission_projects %}
    <div class="border-a0 p10 mb5 project-items">
      {% if project.is_deadline_passed %}
        <span class="badge badge-info">หมดเวลารับสมัคร</span>
      {% endif %}
      {{ project.title }}
      (เปิดรับสมัครวันที่ xxxxx)
      {% if project.is_open %}
        <a class="btn btn-primary btn-sm applying-links" href="#">สมัครโครงการนี้</a>
        <div class="p10 border-a0 bg-warn applying-confirmations" style="display:none;">
          {% if project.applying_confirmation_warning %}
            {{ project.applying_confirmation_warning|safe }}
          {% else %}
            กรุณายืนยันการสมัครโครงการนี้ &nbsp;&nbsp;&nbsp;
          {% endif %}
          <form class="d-inline" method="post" action="{% url 'appl:apply-project' project.id admission_round.id %}">
            {% csrf_token %}
            <input type="submit" class="btn btn-success btn-sm" value="ยืนยันการสมัคร" />
            <a href="#" class="btn btn-danger btn-sm cancel-links">ยกเลิก</a>
          </form>
        </div>
      {% endif %}
    </div>
  {% endfor %}
{% else %}
  <p>
    ขณะนี้ยังไม่ถึงรอบการรับสมัครใดเลย รอบการรับสมัครครั้งถัดไปคือรอบ xxxx จะเริ่มรับสมัครวันที่ yyyy สามารถอ่านรายละเอียดได้ที่ zzzz
  </p>
{% endif %}
<script>
 $(function(){
   $('.applying-links').click(function(){
     var project = $(this).parents('.project-items')[0];
     $(project).find('.applying-confirmations').slideDown();
     $(this).hide();
     return false;
   });
   $('.cancel-links').click(function(){
     var project = $(this).parents('.project-items')[0];
     $(project).find('.applying-confirmations').slideUp();
     $(project).find('.applying-links').show();
     return false;
   });
 });
</script>
