{% load i18n %}
<h2>{% trans 'รายการโครงการรับสมัคร' %}{% if admission_round %}{{ admission_round.title_trans }}{% endif %}</h2>
{% if admission_round %}
  {% if cupt_confirmation_status.is_wait %}
    {% include 'appl/include/cupt_confirmation_wait.html' %}
  {% else %}
    {% if not cupt_confirmation_status.is_free and not cupt_confirmation_status.is_not_required %}
      {% include 'appl/include/cupt_confirmation_not_free.html' %}
    {% endif %}
  {% endif %}
  <div class="alert alert-warning">
    <span class="badge badge-success">การตรวจสอบสถานะการยืนยันสิทธิ์</span>
    ขณะนี้ผู้สมัครที่สนใจสามารถสมัครรับตรงอิสระรอบที่ 5 ได้ทันที โดยไม่จำเป็นต้องผ่านการตรวจสอบสถานะการยืนยันสิทธิ์ก่อน  แต่ทีมงานจะตรวจสอบสถานะผู้สมัครทุกท่านอีกครั้งในวันที่ 16 ก.ค. ก่อนการประกาศผล<br/>
    <div class=""><span class="badge badge-success">เลื่อนกำหนดการรับสมัคร</span> ถึงวันที่ 14 ก.ค. เวลา 23:59 สามารถชำระเงินค่าสม้ครได้ถึงวันที่ 15 ก.ค. (ผู้สมัครที่ได้พิมพ์ใบชำระเงินแล้ว ถ้าต้องการชำระเงินหลังวันที่ 12 กรุณาพิมพ์ใบชำระเงินใหม่)</div>
  </div>
  {% for project in admission_projects %}
    {% if not project.eligibility.is_hidden %}
      <div class="border-a0 p10 mb5 project-items">
        {% if project.is_deadline_passed %}
          <span class="badge badge-info">{% trans 'หมดเวลารับสมัคร' %}</span>
        {% endif %}
        {{ project.title_trans }}
        ({% trans 'เปิดรับสมัครวันที่' %} {{ project.project_round.admission_dates }})
        {% if cupt_confirmation_status.is_not_required or cupt_confirmation_status.is_free %}
          {% if project.is_open and project.eligibility.is_eligible %}
            <a class="btn btn-primary btn-sm applying-links" href="#">{% trans 'สมัครโครงการนี้' %}</a>
            <div class="p10 border-a0 bg-warn applying-confirmations" style="display:none;">
              {% if project.applying_confirmation_warning %}
                {{ project.applying_confirmation_warning|safe }}
              {% else %}
                {% trans 'กรุณายืนยันการสมัครโครงการนี้' %} &nbsp;&nbsp;&nbsp;
              {% endif %}
              <form class="d-inline" method="post" action="{% url 'appl:apply-project' project.id admission_round.id %}">
                {% csrf_token %}
                <input type="submit" class="btn btn-success btn-sm" value="{% trans 'ยืนยันการสมัคร' %}" />
                <a href="#" class="btn btn-danger btn-sm cancel-links">{% trans 'ยกเลิก' %}</a>
              </form>
            </div>
          {% else %}
            {% if not project.eligibility.is_eligible %}
              <span class="badge badge-warning">ยังไม่สามารถสมัครได้</span>
              <small>{{ project.eligibility.notice_text }}</small>
            {% endif %}
          {% endif %}
        {% else %}
          {% if cupt_confirmation_status.is_wait %}
            (รอตรวจสอบสิทธิ์)
          {% else %}
            <span class="badge badge-danger">ไม่สามารถสมัครได้</span> (ยืนยันสิทธิ์แล้วในการสมัครรอบอื่น)
          {% endif %}
        {% endif %}
      </div>
    {% endif %}
  {% endfor %}
{% else %}
  <p>
    ขณะนี้ยังไม่ถึงรอบการรับสมัครใดเลย รอบการรับสมัครครั้งถัดไปคือรอบ xxxx จะเริ่มรับสมัครวันที่ yyyy สามารถอ่านรายละเอียดได้ที่ zzzz
  </p>
{% endif %}
<script>
  $(function(){
    $('.applying-links').click(function(){
      var project = $(this).parents('.project-items')[0];
      $(project).find('.applying-confirmations').slideDown();
      $(this).hide();
      return false;
    });
    $('.cancel-links').click(function(){
      var project = $(this).parents('.project-items')[0];
      $(project).find('.applying-confirmations').slideUp();
      $(project).find('.applying-links').show();
      return false;
    });
  });
</script>
{% if cupt_confirmation_status.is_wait %}
  <script>
    var cuptConfirmationUrl = '{% url 'regis:cupt-check' applicant.national_id %}';
    var checkCuptConfirmation = function() {
      jQuery.get(cuptConfirmationUrl,
                 function(data) {
                   if(data == 'OK') {
                     window.location.reload(true);
                   }
                 });
    };
    $(function(){
      checkCuptConfirmation();
      setInterval(checkCuptConfirmation, 3000);
    });
  </script>
{% endif %}
