{% if supplement_configs %}
  <div class="project-appl-sections bborder-superlight">
    <h4>ข้อมูลเพิ่มเติมสำหรับโครงการ{{ active_application.admission_project }}</h4>
    <ul>
      {% for config in supplement_configs %}
        <li>
          {% if config.supplement_instance %}
            <i class="fa fa-check" aria-hidden="true"></i>
          {% endif %}
          {{ config.title }}
        </li>
      {% endfor %}
    </ul>
    <a class="btn btn-sm btn-primary" href="{% url 'supplements:index' active_application.admission_project.id active_application.admission_round.id %}">กรอกข้อมูลเพิ่มเติม</a>
  </div>
{% endif %}
