<table class="table table-sm table-striped table-bordered">
    <thead class="thead-dark">
    <tr>
        <th></th>
        <th>สาขา</th>
        {% for p in admission_projects %}
        <th>{{ p }}</th>
        {% endfor %}
    </tr>
    </thead>
    {% for m, cols in round_major_table %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ m }}</td>
        {% for item in cols %}
        <td class="text-center" title="{% if item.is_disabled %}มีข้อมูลแล้ว{% endif %}">
            {% if not item.is_disabled %}
            <input type="checkbox" name="project_majors" value="{{item.id}}"
                   {% if item.is_checked %}checked{% endif %}
                   {% if item.is_disabled %}disabled{% endif %}>
            {% endif %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
