{% extends 'backoffice/base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        {% include "backoffice/messages_alert.html" %}
        <h2>
            ข้อมูลการสัมภาษณ์ {{ admission_round}} {{ faculty }}
        </h2>

        <form method="post" id="form"
              enctype="multipart/form-data">
            <h3>
                {% if current_major %}
                {{ current_major }} โครงการ{{ current_admission_project }}
                {% else %}
                เลือกสาขาและโครงการ
                {% endif %}
            </h3>
            {% include "backoffice/interviews/curriculum_major_table_form.html" %}
            <div class="d-none form-group">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="options" id="option1" value="all-majors">
                    <label class="form-check-label" for="option1">ทุกสาขาในโครงการ A</label>
                </div>
            </div>
            <div class="d-none form-group">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="options" id="option2" value="all-projects">
                    <label class="form-check-label" for="option2">สาขา B ในทุกโครงการ</label>
                </div>
            </div>
            <div class="d-none form-group">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="options" id="option3" value="major-project">
                    <label class="form-check-label" for="option2">เลือกสาขาและโครงการเดียว</label>
                </div>
            </div>
            <div class="d-none row">
                <div class="col-md-6">
                    <label for="select1">โครงการ</label>
                    <select class="form-control" id="select1">
                        <option value="project1">โครงการ 1</option>
                        <option value="project2">โครงการ 2</option>
                        <option value="project3">โครงการ 3</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="select2">สาขา</label>
                    <select class="form-control" id="select2">
                        <option value="majorA">สาขา A</option>
                        <option value="majorB">สาขา B</option>
                        <option value="majorC">สาขา C</option>
                    </select>
                </div>
            </div>
            <h4>ข้อมูลทั่วไป</h4>
            <div class="form-row">
                <div class="col-md-3">
                    <label for="{{ form.interview_type.id_for_label }}">รูปแบบการสัมภาษณ์</label>
                </div>
                <div class="col-md-9">
                    {{ form.interview_options.errors }}
                    {{ form.interview_options }}
                </div>
            </div>
            <div class="form-row mt-2">
                <div class="col-md-3">
                    <label for="{{form.additional_doc.id_for_label}}">การส่งเอกสารเพิ่มเติม</label>
                </div>
                <div class="col-md-9">
                    {{form.additional_documents_option.errors}}
                    {{form.additional_documents_option}}
                </div>
            </div>
            <div class="form-row mt-2 form-group interview-date-groups">
                <div class="col-md-3">
                    <label for="{{form.datetime.id_for_label}}">วันเวลา</label>
                </div>
                <div class="col-md-9">
                  {{form.interview_date.errors}}
                  <input type="datetime-local" name="interview_date"
                         value="{{form.interview_date.value|date:'Y-m-d\\TH:i'}}" class="form-control"
                         id="id_interview_date">
                </div>
            </div>

	    <div class="form-row mt-2 no-interview-no-doc-groups">
	      <div class="col-md-12">
		<p>ผู้ผ่านการคัดเลือกจะได้รับการประกาศรายชื่อเป็นผู้ผ่านการสอบสัมภาษณ์</p>
	      </div>
	    </div>
	    <div class="form-row mt-2 no-interview-upload-groups">
	      <div class="col-md-12">
		<p>กรรมการจะพิจารณาเอกสารที่ส่งเพิ่มเติมในการตัดสินผลการสอบสัมภาษณ์</p>
	      </div>
	    </div>
	    
            <h4 class="mt-3 interview-prep-groups">การเตรียมตัวก่อนสัมภาษณ์</h4>
            <div class="form-row interview-prep-groups">
                <div class="col-md-12">
                    <label for="{{form.prep_detail.id_for_label}}">รายละเอียดการเตรียมตัว</label>
                    {{form.preparation_descriptions.errors}}
                    {{form.preparation_descriptions}}
                </div>
            </div>
            <div class="form-row mt-2 interview-prep-groups">
                <div class="col-md-3 pr-2">
                    รูปประกอบข้อมูลการเตรียมตัว
                    <small class="text-muted">รูปจะปรากฏด้านขวาของข้อความ</small>
                    <br>
                    <img width="250px" class="img-fluid" id="prepImgId" alt="preparation"
                         {% if form.instance.preparation_image %}
                         src="{% url 'backoffice:interviews-image' admission_round_id=admission_round.id faculty_id=faculty.id description_id=interview_description_id type='preparation' %}"
                         {% endif %}>
                </div>
                <div class="col-md-9">
                    <div class="custom-file">
                        {{form.preparation_image.errors}}
                        {{form.preparation_image}}
                      <label class="custom-file-label"
                             for="{{form.preparation_image.id_for_label}}">เลือกไฟล์รูป</label>
                    </div>
                </div>
            </div>

            <h4 class="mt-3 interview-info-groups"><span class="interview-format-headers">รายละเอียดการสัมภาษณ์ออนไลน์</span></h4>
            <div class="form-row online-platform-forms interview-info-groups">
                <div class="col-md-3">
                    สัมภาษณ์ผ่านทางโปรแกรม
                </div>
                <div class="col-md-9">
                    {% for radio in form.video_conference_platform %}
                    <div class="form-check form-check-inline">
                        {{ radio }}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="form-row interview-info-groups">
                <div class="col-md-12">
                    {{form.descriptions.label}}
                    <small class="text-muted">{{form.descriptions.help_text}}</small>
                    {{form.descriptions.errors}}
                    {{form.descriptions}}
                </div>
            </div>
            <div class="form-row mt-2 interview-info-groups">
                <div class="col-md-3">
                    รูปประกอบข้อมูลการสัมภาษณ์
                    <small class="text-muted">{{form.description_image.help_text}}</small>
                    <br>
                    <img width="250px" class="img-fluid" id="descImgId" alt="interview details"
                         {% if form.instance.description_image %}
                         src="{% url 'backoffice:interviews-image' admission_round_id=admission_round.id faculty_id=faculty.id description_id=interview_description_id type='description' %}"
                         {% endif %}>
                </div>
                <div class="col-md-9">
                    <div class="custom-file">
                        {{form.description_image.errors}}
                        {{form.description_image}}
                        <label class="custom-file-label"
                               for="{{form.description_image.id_for_label}}">เลือกไฟล์รูป</label>
                    </div>
                </div>
            </div>
            <h4 class="mt-3 interview-contact-groups">ข้อมูลการติดต่อ</h4>
            <div id="contact-person-root" class="interview-contact-groups">
            </div>
            <div class="form-row mt-2 interview-contact-groups">
                <div class="col-md-12">
                    <button class="btn btn-secondary" type="button" id="add-contact-person">เพิ่มผู้ติดต่อ</button>
                </div>
            </div>

            <div class="form-row bg-light mt-2 p-2 rounded">
                <div class="col">
                    <button class="btn btn-outline-primary" id="preview-button" type="button" onclick="previewForm()">
                        ดูตัวอย่าง
                    </button>
                    <button class="btn btn-success">จัดเก็บ</button>
		    {% if current_major %}
                      <a href="{% url 'backoffice:projects-index' current_admission_project.id admission_round.id %}">
                        <button class="btn btn-warning" type="button">กลับไปหน้าหลักและยกเลิกการแก้ไข</button>
                      </a>
		    {% else %}
                      <a href="{% url 'backoffice:index' %}">
                        <button class="btn btn-warning" type="button">กลับไปหน้าหลักและยกเลิกการแก้ไข</button>
                      </a>
		    {% endif %}
                    {% if interview_description_id %}
                      <button class="btn btn-danger" type="button" onclick="deleteDescription()">ลบ</button>
                    {% endif %}
                </div>
            </div>
            {{form.contacts.errors}}
            {{form.contacts}}
            {% csrf_token %}
        </form>
        <!--        Preview -->
        <div style="display:none" id="preview-root" class="card">
            <div class="card-body">
                <h2 class="card-title">ตัวอย่าง: </h2>
                <p class="card-subtitle mb-4">คลิกดูตัวอย่างอีกครั้งเมื่ออัปเดตข้อมูลแล้ว เพื่ออัปเดตตัวอย่าง</p>
                <h3>
                    โครงการ
                </h3>
                <ol id="preview-projects">
                </ol>

                <h4>ข้อมูลทั่วไป</h4>
                <div class="form-row">
                    <div class="col-md-3">
                        รูปแบบการสัมภาษณ์
                    </div>
                    <div class="col-md-9" id="preview-interview_options">

                    </div>
                </div>
                <div class="form-row mt-2">
                    <div class="col-md-3">การส่งเอกสารเพิ่มเติม
                    </div>
                    <div class="col-md-9" id="preview-is_additional_documents_required">
                    </div>
                </div>
                <div class="form-row mt-2 form-group interview-date-groups">
                    <div class="col-md-3">
                        วันเวลา
                    </div>
                    <div class="col-md-9" id="preview-interview_date">
                    </div>
                </div>

		<div class="form-row mt-2 no-interview-no-doc-groups">
		  <div class="col-md-12">
		    <p>ผู้ผ่านการคัดเลือกจะได้รับการประกาศรายชื่อเป็นผู้ผ่านการสอบสัมภาษณ์</p>
		  </div>
		</div>
		<div class="form-row mt-2 no-interview-upload-groups">
		  <div class="col-md-12">
		    <p>กรรมการจะพิจารณาเอกสารที่ส่งเพิ่มเติมในการตัดสินผลการสอบสัมภาษณ์</p>
		  </div>
		</div>
		
		
                <h4 class="mt-3 interview-prep-groups">การเตรียมตัวก่อนสัมภาษณ์</h4>
                <div class="form-row interview-prep-groups">
                    <div class="col-md-9">
                        <p id="preview-preparation_descriptions"></p>
                    </div>
                    <div class="col-md-3 pr-2">
                      <div id="preview-preparation_image"></div>
                    </div>
                </div>

                <h4 class="mt-3 interview-info-groups"><span class="interview-format-headers">รายละเอียดการสัมภาษณ์ออนไลน์</span></h4>
                <div class="form-row online-platform-forms interview-info-groups">
                    <div class="col-md-3">
                        สัมภาษณ์ผ่านทางโปรแกรม
                    </div>
                    <div class="col-md-9" id="preview-video_conference_platform">
                    </div>
                </div>
                <div class="form-row mt-2 interview-info-groups">
                    <div class="col-md-9">
                        <p id="preview-descriptions">

                        </p>
                    </div>
                    <div class="col-md-3">
                        <br>
                        <div id="preview-description_image"></div>
                    </div>
                </div>
                <h4 class="mt-3 interview-contact-groups">ข้อมูลการติดต่อ</h4>
                <div class="interview-contact-groups">
                    <ol id="preview-contacts">
                    </ol>
                </div>
            </div>
        </div>

        <div style="display:none">
            <div class="contact-person-form">
                <div class="form-row">
                    <div class="col-md-4">ชื่อผู้ติดต่อ</div>
                    <div class="col-md-3">อีเมล</div>
                    <div class="col-md-3">โทรศัพท์</div>
                    <div class="col-md-2"></div>
                </div>
                <div class="form-row">
                    <div class="col-md-4">
                        <input type="text" name="name" class="form-control"></div>
                    <div class="col-md-3">
                        <input type="text" name="email" class="form-control"></div>
                    <div class="col-md-3">
                        <input type="text" name="tel" class="form-control"></div>
                    <div class="col-md-2">
                        <button class="btn-sm btn-danger delete-contact-person" type="button">ลบ</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    img.img-fluid {
        display: none;
    }

    img.img-fluid[src] {
        display: block;
    }


</style>
<script>
  const interviewFormatHeaders = {
    '0': 'ไม่มีการสัมภาษณ์',
    '1': 'รายละเอียดการสัมภาษณ์ออนไลน์',
    '2': 'รายละเอียดการสัมภาษณ์'
  };
 
  const formSectionDisplay = {
    '0-nodoc': {
      'show': ['.no-interview-no-doc-groups'],
      'hide': ['.online-platform-forms', '.interview-date-groups',
	       '.interview-prep-groups', '.interview-info-groups',
	       '.interview-contact-groups', '.no-interview-upload-groups']
    },
    '0-upload': {
      'show': ['.interview-prep-groups', '.interview-contact-groups', '.no-interview-upload-groups'],
      'hide': ['.online-platform-forms', '.interview-date-groups',
	       '.interview-info-groups', '.no-interview-no-doc-groups']
    },
    '1': {
      'show': ['.online-platform-forms', '.interview-date-groups',
	       '.interview-prep-groups', '.interview-info-groups',
	       '.interview-contact-groups'],
      'hide': ['.no-interview-no-doc-groups', '.no-interview-upload-groups']
    },
    '2': {
      'show': ['.interview-date-groups', '.interview-prep-groups',
	       '.interview-info-groups', '.interview-contact-groups'],
      'hide': ['.online-platform-forms', '.no-interview-no-doc-groups',
	       '.no-interview-upload-groups']
    }
  }

  function updateInterviewFormatHeader() {
    var formatSelectValue = $('#id_interview_options').val();
    const documentUploadValue = $('#id_additional_documents_option').val();
    
    if (formatSelectValue == '') {
      formatSelectValue = '1';
    }
    $('.interview-format-headers').text(interviewFormatHeaders[formatSelectValue]);
    var displayValue = formatSelectValue;
    if (formatSelectValue == '0') {
      if (documentUploadValue == '0') {
	displayValue = '0-nodoc';
      } else {
	displayValue = '0-upload';
      }
    }
    
    formSectionDisplay[displayValue]['show'].forEach(function(sel) {
      $(sel).show();
    });
    formSectionDisplay[displayValue]['hide'].forEach(function(sel) {
      $(sel).hide();
    });
  }

  $(function () {
    $('.img-file-controls').change(function () {
      const imgId = $(this).data('imgId');
      const file = this.files[0];
      if (file) {
        const reader = new FileReader();
        reader.onload = function (event) {
          $('#' + imgId).attr('src', event.target.result);
        };
        reader.readAsDataURL(file);
      }
    });
    updateInterviewFormatHeader();
    $('#id_interview_options').change(updateInterviewFormatHeader);
    $('#id_additional_documents_option').change(updateInterviewFormatHeader);
  });

  const contactsInput = $('#{{form.contacts.id_for_label}}')
  const contacts = contactsInput[0].value === '[]' ? [{}] : JSON.parse(contactsInput[0].value);
  for (let i = 0; i < contacts.length; i++) {
    const contact = contacts[i];
    const contactForm = $('.contact-person-form').last().clone();
    contactForm.find('input[name="name"]').val(contact.name);
    contactForm.find('input[name="email"]').val(contact.email);
    contactForm.find('input[name="tel"]').val(contact.tel);
    if (i === 0) {
      contactForm.find('.delete-contact-person').remove()
    }
    $('#contact-person-root').append(contactForm);
  }

  $('#add-contact-person').on('click', function () {
    const contactForm = $('.contact-person-form').last().clone();
    contactForm.find('input[name="name"]').val('');
    contactForm.find('input[name="email"]').val('');
    contactForm.find('input[name="tel"]').val('');
    $('#contact-person-root').append(contactForm);
  });
  $(document).on('click', '.delete-contact-person', function () {
    $(this).closest('.contact-person-form').remove();
  });

  function updateContactsValue() {
    const contacts = [];

    const contactForms = $('.contact-person-form')
    for (let i = 0; i < contactForms.length - 1; i++) {
      const name = contactForms[i].querySelector('input[name="name"]').value;
      const tel = contactForms[i].querySelector('input[name="tel"]').value;
      const email = contactForms[i].querySelector('input[name="email"]').value;
      contacts.push({name, tel, email});
    }
    contactsInput.val(JSON.stringify(contacts))
  }

  $('#form').on('submit', function () {
    updateContactsValue();
    return true
  })

  function previewForm() {
    $('#preview-root').show()
    updateContactsValue()
    const form = document.getElementById("form");
    const formData = new FormData(form)
    previewProjectMajors(formData)
    previewInterviewOptions()
    previewAdditionalDoc()
    previewInterviewDate(formData)
    previewTextField(formData, 'preparation_descriptions')
    previewTextField(formData, 'descriptions')
    previewVideoConferencePlatform()
    previewPrepImage()
    previewDescImage()
    previewContacts(formData)
  }

  function previewProjectMajors(formData) {
    const project_majors = formData.getAll('project_majors')
    $('#preview-projects').empty()
    for (let p of project_majors) {
      const title = $(`input[name='project_majors'][value='${p}']`).attr('title')
      $('#preview-projects').append('<li>' + title + '</li>');
    }
  }

  function previewInterviewOptions() {
    const selectElem = document.querySelector("#id_interview_options")
    const selectedIndex = selectElem.selectedIndex
    const title = selectElem.options[selectedIndex].text
    document.querySelector("#preview-interview_options").textContent = title
  }

  function previewAdditionalDoc() {
    const selectElem = document.querySelector("#id_additional_documents_option")
    const selectedIndex = selectElem.selectedIndex
    const title = selectElem.options[selectedIndex].text
    document.querySelector("#preview-is_additional_documents_required").textContent = title
  }

  function previewInterviewDate(formData) {
    const date = formData.get('interview_date')
    const text = date ? new Date(date).toLocaleString() : '-'
    document.querySelector("#preview-interview_date").textContent = text
  }

  function previewTextField(formData, fieldName) {
    const text = formData.get(fieldName)
    document.querySelector(`#preview-${fieldName}`).textContent = text
  }

  function previewVideoConferencePlatform() {
    const selectedValue = document.querySelector('input[name="video_conference_platform"]:checked')?.nextSibling.textContent.trim() || '-'
    document.getElementById("preview-video_conference_platform").textContent = selectedValue || '-'
  }

  function previewPrepImage() {
    const sourceElement = document.getElementById('prepImgId');
    const targetElement = document.getElementById('preview-preparation_image');
    const clonedElement = sourceElement.cloneNode(true);
    $(targetElement).empty()
    targetElement.appendChild(clonedElement);
  }

  function previewDescImage() {
    const sourceElement = document.getElementById('descImgId');
    const targetElement = document.getElementById('preview-description_image');
    const clonedElement = sourceElement.cloneNode(true);
    $(targetElement).empty()
    targetElement.appendChild(clonedElement);
  }

  function previewContacts(formData) {
    const contacts = JSON.parse(formData.get('contacts'))

    const rootEl = $('#preview-contacts')
    rootEl.empty()
    for (let contact of contacts) {
      const name = 'ชื่อ: ' + contact.name || ''
      const tel = 'โทร: ' + contact.tel || ''
      const email = 'อีเมล: ' + contact.email || ''
      rootEl.append('<li>' + `${name} ${email} ${tel}` + '</li>')
    }
  }

  function deleteDescription() {
    if (confirm("กด OK เพื่อยืนยันลบข้อมูลการสัมภาษณ์")) {
      var form = document.getElementById('form');
      {% if interview_description_id %}
      form.action = '{% url 'backoffice:interviews-delete' description_id=interview_description_id %}'; // Update with your delete URL
      {% else %}
      return
      {%endif %}
      form.submit();
    }
  }
</script>
{% endblock %}
