{% extends 'backoffice/base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-12">

        <form method="post" id="form"
              enctype="multipart/form-data">
            <h3>
                โครงการ
            </h3>
            <ol>
                <li>
                    วศ.บ. สาขาวิชาวิศวกรรมเคมี
                </li>
                <li>
                    วศ.บ. สาขาวิชาวิศวกรรมเคมี
                </li>
            </ol>

            <h4>ข้อมูลทั่วไป</h4>
            <div class="form-row">
                <div class="col-md-3">
                    รูปแบบการสัมภาษณ์
                </div>
                <div class="col-md-9">
                    {{ form.instance.get_interview_options_display }}
                </div>
            </div>
            <div class="form-row mt-2">
                <div class="col-md-3">
                    <label for="{{form.additional_doc.id_for_label}}">การส่งเอกสารเพิ่มเติม</label>
                </div>
                <div class="col-md-9">
                    {{form.instance.get_is_additional_documents_required_display}}
                </div>
            </div>
            <div class="form-row mt-2 form-group">
                <div class="col-md-3">
                    <label for="{{form.datetime.id_for_label}}">วันเวลา</label>
                </div>
                <div class="col-md-9">
                    {{form.interview_date.value}}
                </div>
            </div>

            <h4 class="mt-3">การเตรียมตัวก่อนสัมภาษณ์</h4>
            <div class="form-row">
                <div class="col-md-12">
                    รายละเอียดการเตรียมตัว
                    <p>{{form.preparation_descriptions.value}}</p>
                </div>
            </div>
            <div class="form-row mt-2">
                <div class="col-md-3 pr-2">
                    {{form.preparation_image.label}}
                    <br>
                    {% if form.instance.preparation_image %}
                    <img src="{{ form.instance.preparation_image.url }}">
                    {% endif %}
                </div>
            </div>


            <h4 class="mt-3">รายละเอียดการสัมภาษณ์ออนไลน์</h4>
            <div class="form-row">
                <div class="col-md-3">
                    สัมภาษณ์ผ่านทางโปรแกรม
                </div>
                <div class="col-md-9">
                    {% for radio in form.apptype %}
                    <div class="form-check form-check-inline">
                        {{ radio }}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="form-row mt-2">
                <div class="col-md-3">
                    {{form.description_image.label}}
                    <br>
                    {% if form.instance.description_image %}
                    <img src="{{ form.instance.description_image.url }}">
                    {% endif %}
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12">
                    {{form.descriptions.label}}
                    <p>
                        {{form.descriptions.value}}
                    </p>
                </div>
            </div>
            <h4 class="mt-3">ข้อมูลการติดต่อ</h4>
            <div id="contact-person-root">
                <ol>
                {% for person in contacts %}
                <li class="person-preview">
                    <p>ชื่อ: {{ person.name }}&emsp;อีเมล: {{ person.email }}&emsp;เบอร์โทร: {{ person.tel }}</p>
                </li>
                {% endfor %}
                </ol>
            </div>

            <div class="form-row bg-light mt-2 p-2 rounded">
                <div class="col">
                    <button class="btn btn-success">จัดเก็บ</button>
                    <button class="btn btn-warning">กลับไปแก้ไข</button>
                    <button class="btn btn-warning">ยกเลิกการแก้ไข</button>
                </div>
            </div>
            {% csrf_token %}
        </form>
    </div>
</div>

<script>
 $(function(){
   $('.img-file-controls').change(function(){
     var imgId = $(this).data('imgId');
     var file = this.files[0];
     if(file) {
       var reader = new FileReader();
       reader.onload = function(event){
	 $('#' + imgId).attr('src', event.target.result);
       };
       reader.readAsDataURL(file);
     }
   });
 });

</script>
{% endblock %}
