{% extends 'backoffice/base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h2>
            ข้อมูลการสัมภาษณ์ {{ admission_round}} {{ faculty }}
        </h2>
        {% if form.errors %}
        <div class="alert alert-danger">
            <h4 class="alert-heading">Form Errors:</h4>
            <ul>
                {% for field_errors in form.errors.values %}
                {% for error in field_errors %}
                <li>{{ error }}</li>
                {% endfor %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <form method="post" action="{% url 'backoffice:interviews-create' admission_round.id faculty.id %}"
              enctype="multipart/form-data">
            <h3>
                เลือกโครงการ
            </h3>
            {% include "backoffice/interviews/curriculum_major_table_form.html" %}

            <h4>ข้อมูลทั่วไป</h4>
            <div class="form-row">
                <div class="col-md-3">
                    <label for="{{ form.interview_type.id_for_label }}">รูปแบบการสัมภาษณ์</label>
                </div>
                <div class="col-md-9">
                    {{ form.interview_type }}
                </div>
            </div>
            <div class="form-row mt-2">
                <div class="col-md-3">
                    <label for="{{form.additional_doc.id_for_label}}">การส่งเอกสารเพิ่มเติม</label>
                </div>
                <div class="col-md-9">
                    {{form.additional_doc}}
                </div>
            </div>
            <div class="form-row mt-2 form-group">
                <div class="col-md-3">
                    <label for="{{form.datetime.id_for_label}}">วันเวลา</label>
                </div>
                <div class="col-md-9">
                    {{form.datetime}}
                </div>
            </div>

            <h4 class="mt-3">การเตรียมตัวก่อนสัมภาษณ์</h4>
            <div class="form-row">
                <div class="col-md-12">
                    <label for="{{form.prep_detail.id_for_label}}">รายละเอียดการเตรียมตัว</label>
                    {{form.prep_detail}}
                </div>
            </div>
            <div class="form-row mt-2">
                <div class="col-md-3 pr-2">
                    รูปประกอบ
                    <small class="text-muted">รูปจะปรากฏด้านขวาของข้อความ</small>
                    <br>
                    <img class="img-fluid" id="prepImgId" alt="preparation">
                </div>
                <div class="col-md-9">
                    <div class="custom-file">

                        {{form.prep_img}}
                        <label class="custom-file-label" for="{{form.prep_img.id_for_label}}">Choose file</label>
                    </div>
                </div>
            </div>


            <h4 class="mt-3">รายละเอียดการสัมภาษณ์ออนไลน์</h4>
            <div class="form-row">
                <div class="col-md-3">
                    สัมภาษณ์ผ่านทางโปรแกรม
                </div>
                <div class="col-md-9">
                    {% for radio in form.apptype %}
                    <div class="form-check form-check-inline">
                        {{ radio }}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12">
                    {{form.interview_detail.label}}
                    <small class="text-muted">{{form.interview_detail.help_text}}</small>
                    {{form.interview_detail}}
                </div>
            </div>
            <div class="form-row mt-2">
                <div class="col-md-3">
                    {{form.interview_img.label}}
                    <small class="text-muted">{{form.interview_img.help_text}}</small>
                    <br>
                    <img class="img-fluid" id="descImgId" alt="interview details">
                </div>
                <div class="col-md-9">
                    <div class="custom-file">
                        {{form.interview_img}}
                        <label class="custom-file-label" for="{{form.interview_img.id_for_label}}">Choose file</label>
                    </div>
                </div>
            </div>
            <h4 class="mt-3">ข้อมูลการติดต่อ</h4>
            <div id="contact-person-root">
                {% for form in contact_person_formset.forms %}
                <div class="contact-person-form">
                    <div class="form-row">
                        <div class="col-md-4">ชื่อผู้ติดต่อ</div>
                        <div class="col-md-3">อีเมล</div>
                        <div class="col-md-3">โทรศัพท์</div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4">
                            {{form.name}}
                        </div>
                        <div class="col-md-3">
                            {{form.email}}
                        </div>
                        <div class="col-md-3">
                            {{form.tel}}
                        </div>
                        <div class="col-md-2">
                            {% if not forloop.first %}
                            <button class="btn-sm btn-danger delete-contact-person" type="button">ลบ</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="form-row mt-2">
                <div class="col-md-12">
                    <button class="btn btn-secondary" type="button" id="add-contact-person">เพิ่มผู้ติดต่อ</button>
                </div>
            </div>

            <div class="form-row bg-light mt-2 p-2 rounded">
                <div class="col">
                    <button class="btn btn-outline-primary">ดูตัวอย่าง</button>
                    <button class="btn btn-success">จัดเก็บ</button>
                    <button class="btn btn-warning">ยกเลิกการแก้ไข</button>
                    <button class="btn btn-danger ml-2">ลบ</button>
                </div>
            </div>
            {{ contact_person_formset.management_form }}
            {% csrf_token %}
        </form>
        <div id="empty-contact-person-form" style="display: none;">
            <div class="contact-person-form">
                <div class="form-row">
                    <div class="col-md-4">ชื่อผู้ติดต่อ</div>
                    <div class="col-md-3">อีเมล</div>
                    <div class="col-md-3">โทรศัพท์</div>
                    <div class="col-md-2"></div>
                </div>
                <div class="form-row">
                    <div class="col-md-4">
                        <input class="form-control" type="text" name="contact_person-__prefix__-name"></div>
                    <div class="col-md-3">
                        <input class="form-control" type="text" name="contact_person-__prefix__-email"></div>
                    <div class="col-md-3">
                        <input class="form-control" type="text" name="contact_person-__prefix__-tel"></div>
                    <div class="col-md-2">
                        <button class="btn-sm btn-danger delete-contact-person" type="button">ลบ</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
 $(function(){
   $('.img-file-controls').change(function(){
     var imgId = $(this).data('imgId');
     var file = this.files[0];
     if(file) {
       var reader = new FileReader();
       reader.onload = function(event){
	 $('#' + imgId).attr('src', event.target.result);
       };
       reader.readAsDataURL(file);
     }
   });
 });

 $(function() {
    $(document).ready(function () {
        function renumberContactPersonRows() {
            $('.contact-person-form').each(function(index) {
                $(this).find(':input').each(function() {
                    var curId = $(this).attr('id');
                    if (curId) {
                        var newId = curId.replace(/\d+/g, index);
                        $(this).attr('id', newId);
                    }
                    var curName = $(this).attr('name');
                    if (curName) {
                        var newName = curName.replace(/\d+/g, index);
                        $(this).attr('name', newName);
                    }
                });
            });
        }

        // get the contact person formset
        var contactPersonFormset = $('#contact-person-root');
        // get the add button
        var addButton = $('#add-contact-person');
        // get the total forms input field
        var totalFormsInput = $('#id_contact_person-TOTAL_FORMS');
        // get the empty contact person form
        var emptyForm = $('#empty-contact-person-form').html();

        // set the initial form count
        var formCount = totalFormsInput.val();

        // add the click event handler to the add button
        addButton.on('click', function (e) {
            // prevent the default form submission
            e.preventDefault();
            // append the empty contact person form to the formset
            contactPersonFormset.append(emptyForm.replace(/__prefix__/g, formCount));
            // increment the form count and update the total forms input field
            formCount++;
            renumberContactPersonRows()
            totalFormsInput.val(formCount);
        });

        // add the click event handler to the delete button
        contactPersonFormset.on('click', '.delete-contact-person', function (e) {
            // prevent the default form submission
            e.preventDefault();
            // remove the contact person form from the formset
            $(this).parents('.contact-person-form').remove();
            // decrement the form count and update the total forms input field
            formCount--;
            renumberContactPersonRows()
            totalFormsInput.val(formCount);
        });
    });
 });



</script>
{% endblock %}
