{% extends 'backoffice/base.html' %}
{% block content %}
  <div class="row">
    <div class="col-md-12">
      <h2>
        ปรับจำนวนการรับ
      </h2>

      <table class="table table-striped table-sm">
        {% for faculty in faculties %}
          <tr class="table-primary">
            <th colspan="100" class="text-center">{{ faculty.title }}</th>
          </tr>
          <tr>
            <th>รหัส</th>
            <th>สาขาวิชา</th>
            {% for r in admission_rounds %}
              <th class="text-right">รอบ {{ r.number }}</th>
            {% endfor %}
            <th></th>
          </tr>
          {% for m in faculty.majors %}
            <tr>
              <td>{{ m.full_code }}</td>
              <td>{{ m.title }}</td>
              {% for s in m.round_stats %}
                <td class="text-right">{{ s }}</td>
              {% endfor %}
              <td>
                <a class="d-none btn btn-outline-primary btn-sm" href="">ปรับ</a>
              </td>
            </tr>
          {% endfor %}
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock %}
