{% extends 'backoffice/base.html' %}
{% block content %}
  <div class="row">
    <div class="col-md-12">
      <h2>
        ปรับจำนวนการรับ
      </h2>

      {% if notice %}
        <div class="alert alert-success">{{ notice }}</div>
      {% endif %}

      {% if is_super_admin %}
	<div class="alert alert-secondary">
	  สำหรับผู้ดูแลระบบ: รายงานการปรับจำนวน: <a class="btn btn-sm btn-outline-secondary" href="{% url 'backoffice:adjustment-report' 2 %}">รอบที่ 2</a> <a class="btn btn-sm btn-outline-secondary" href="{% url 'backoffice:adjustment-report' 3 %}">รอบที่ 3</a> <a class="btn btn-sm btn-outline-secondary" href="{% url 'backoffice:adjustment-report' 4 %}">รอบที่ 4</a>
	</div>
      {% endif %}
      
      <div class="alert alert-warning">
        สำหรับรอบที่รับเรียบร้อยแล้ว การแสดงจำนวนจะแสดงเป็น <b>จำนวนที่รับได้ / จำนวนในแผน</b> เช่น 10/12 คือรับได้ 10 คนจากแผน 12 คน รวมทุกโครงการในรอบนั้น ๆ
      </div>

      <table class="table table-striped table-sm">
        {% for faculty in faculties %}
          <tr class="table-primary">
            <th colspan="2" class="text-center">{{ faculty.title }}</th>
            <th colspan="100" class="text-center">จำนวนรับ</th>
          </tr>
          <tr>
            <th>รหัส</th>
            <th>สาขาวิชา</th>
            {% for r in admission_rounds %}
              <th class="text-right">รอบ {{ r.number }}</th>
            {% endfor %}
            <th></th>
          </tr>
          {% for m in faculty.majors %}
            <tr>
              <td>{{ m.full_code }}</td>
              <td>{{ m.title }}</td>
              {% for s in m.round_stats %}
                <td class="text-right">
                  {% if s.1 == -1 %}
                    {{ s.0 }}
                  {% else %}
                    {{ s.1 }}/{{ s.0 }}
                  {% endif %}
                </td>
              {% endfor %}
              <td>
                {% if not m.all_confirmed %}
                  <a class="btn btn-outline-primary btn-sm" href="{% url 'backoffice:adjustment-major' m.full_code %}">
                    {% if not can_confirm %}ปรับจำนวน{% else %}ปรับจำนวนและยืนยัน{% endif %}
                  </a>
                {% else %}
                  <a class="btn btn-outline-secondary btn-sm" href="{% url 'backoffice:adjustment-major' m.full_code %}">
                    ดูจำนวน
                  </a>
                  <span class="badge badge-success">ยืนยันแล้ว</span>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock %}
