<table class="table table-sm table-striped applicant-score-tables">
  <thead class="thead-inverse">
    <tr>
      <th></th>
      <th>เลขประจำตัว</th>
      <th>ชื่อ-นามสกุล</th>
      <th>แผนการเรียน</th>
      <th>GPAX</th>
      {% include "backoffice/projects/include/score_table/onet_header.html" %}
      {% include "backoffice/projects/include/score_table/gatpat_header.html" %}
      {% if applicant_score_viewable %}
        <th>คะแนน</th>
      {% else %}
        <th></th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for a in applicants %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ a.national_id }}</td>
        <td>{{ a.get_full_name }}</td>
        <td>{{ a.educationalprofile.get_education_plan_display }}</td>
        <td>{{ a.educationalprofile.gpa|floatformat:"2" }}</td>
        {% with a as applicant %}
          {% include "backoffice/projects/include/score_table/onet_cells.html" %}
          {% include "backoffice/projects/include/score_table/gatpat_cells.html" %}
        {% endwith %}
        {% if project_round.criteria_check_required and not a.is_criteria_passed %}
          <td>ไม่ผ่านเกณฑ์</td>
        {% else %}
          {% if applicant_score_viewable %}
            <td>{{ a.admission_result.calculated_score_display }}</td>
          {% else %}
            <td></td>
          {% endif %}
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>
