{% load score_extras %}
<table class="table table-sm table-striped applicant-score-tables">
  <thead class="thead-inverse">
    <tr>
      <th></th>
      <th>เลขประจำตัว</th>
      {% if project.cross_majors_acceptance_visible %}
        <th></th>
      {% endif %}
      {% if not project.applicant_details_hidden %}
        <th>ชื่อ-นามสกุล</th>
        <th>แผนการเรียน</th>
      {% else %}
        <th></th>
      {% endif %}
      <th>GPAX</th>
      {% include "backoffice/projects/include/score_table/onet_header.html" %}
      {% include "backoffice/projects/include/score_table/gatpat_header.html" %}
      {% include "backoffice/projects/include/score_table/udat_header.html" %}
      {% comment %}
      {% include "backoffice/projects/include/score_table/additional_hack_header.html" %}
      {% endcomment %}
      {% if applicant_score_viewable %}
        <th>คะแนน</th>
        {% if is_tcas_project %}
          <th></th>
        {% endif %}
        <th>เรียก<br />สัมภาษณ์</th>
      {% else %}
        <th></th>
        <th></th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for a in applicants %}
      <tr data-appid="{{ a.national_id }}" class="{% if a.is_called_for_interview %}app-interview-called{%else %}app-interview-not-called{% endif %}">
        <td class="ranks">{{ forloop.counter }}</td>
        <td class="national-ids">
          {{ a.national_id }}
        </td>
        {% if project.cross_majors_acceptance_visible %}
          <td>
            {% spaceless %}
              {% if a.other_major_info %}
                <span class="cross-{{ a.national_id }}">
                  {% for m,s in a.other_major_info %}
                    <span data-appid="{{ a.national_id }}" data-mnum="{{ m }}" data-score="{{ s }}" class="major-markers major-marker-{{ m }}">&#8226;</span>
                  {% endfor %}
                </span>
              {% endif %}
            {% endspaceless %}
          </td>
        {% endif %}
        {% if not project.applicant_details_hidden %}
          <td>{{ a.get_full_name }}</td>
          <td>{{ a.educationalprofile.get_education_plan_display }}</td>
        {% else %}
          <td>{{ a.get_full_name }}</td>
          {% comment %}<td>{{ a.prefix }}</td>{% endcomment %}
        {% endif %}
        <td>{{ a.educationalprofile.gpa|floatformat:"2" }}</td>
        {% with a as applicant %}
          <td class="onet-odd onet-extra" style="display: none;">{{ applicant.get_all_exam_scores.onet.x01|score }}</td>
          <td class="onet-even onet-extra" style="display: none;">{{ applicant.get_all_exam_scores.onet.x02|score }}</td>
          <td class="onet-odd">{{ applicant.get_all_exam_scores.onet.x03|score }}</td>
          <td class="onet-even onet-extra" style="display: none;">{{ applicant.get_all_exam_scores.onet.x04|score }}</td>
          <td class="onet-odd onet-extra" style="display: none;">{{ applicant.get_all_exam_scores.onet.x05|score }}</td>
          
          <td class="gatpat-odd">{{ applicant.get_all_exam_scores.gatpat_rounds|round_array }}</td>
          <td class="gatpat-even">{{ applicant.get_all_exam_scores.gatpat_array.gat|score_array }}</td>
          <td class="gatpat-odd">{{ applicant.get_all_exam_scores.gatpat_array.pat1|score_array }}</td>
          <td class="gatpat-even">{{ applicant.get_all_exam_scores.gatpat_array.pat2|score_array }}</td>
          <td class="gatpat-odd">{{ applicant.get_all_exam_scores.gatpat_array.pat3|score_array }}</td>
          <td class="gatpat-even">{{ applicant.get_all_exam_scores.gatpat_array.pat4|score_array }}</td>
          <td class="gatpat-odd">{{ applicant.get_all_exam_scores.gatpat_array.pat5|score_array }}</td>
          <td class="gatpat-odd">{{ applicant.get_all_exam_scores.gatpat_array.pat7|round_array }}</td>

          <td class="udat-even">{{ applicant.get_all_exam_scores.udat.u09|score }}</td>
          <td class="udat-odd">{{ applicant.get_all_exam_scores.udat.u19|score }}</td>
          <td class="udat-even">{{ applicant.get_all_exam_scores.udat.u29|score }}</td>
          <td class="udat-odd">{{ applicant.get_all_exam_scores.udat.u39|score }}</td>
          <td class="udat-even">{{ applicant.get_all_exam_scores.udat.u49|score }}</td>
          <td class="udat-odd">{{ applicant.get_all_exam_scores.udat.u59|score }}</td>
          <td class="udat-even">{{ applicant.get_all_exam_scores.udat.u69|score }}</td>

          {% comment %}
          {% include "backoffice/projects/include/score_table/onet_cells.html" %}
          {% include "backoffice/projects/include/score_table/gatpat_cells.html" %}
          {% include "backoffice/projects/include/score_table/udat_cells.html" %}
          {% endcomment %}
          {% comment %}
          {% include "backoffice/projects/include/score_table/additional_hack_cells.html" %}
          {% endcomment %}
        {% endwith %}
        {% if not a.is_criteria_passed %}
          <td><i class="fa fa-times" style="color: red;"></i> ไม่ผ่านเกณฑ์</td>
          <td></td>
        {% else %}
          {% if applicant_score_viewable %}
            {% with a.admission_result as admission_result %}
              <td class="scores">
                {% if admission_result.scoring_criteria_passed %}
                  {{ admission_result.calculated_score_display }}
                {% else %}
                  <i class="fa fa-times" style="color: red;"></i>
                  ไม่ผ่าน <!-- {{ admission_result.criteria_failed_display }} -->
                {% endif %}
              </td>
              {% if is_tcas_project %}
                <td class="scores">
                  {% if a.is_called_for_interview %}
                    <span class="badge badge-pill badge-secondary">
                      3/{{ admission_result.tcas_acceptance_round_number }}
                    </span>
                  {% endif %}
                </td>
              {% endif %}
              <td class="chboxes">
                {% if a.is_interview_callable %}
                  {% if accepted_for_interview_result_frozen %}
                    {% if a.is_called_for_interview %}<i class="fa fa-check" style="color: green;"></i>{% else %}<i class="fa fa-times" style="color: red;"></i>{% endif %}
                    {% if a.is_called_for_interview %}
                      {% if admission_result.is_tcas_confirmed == False %}
                        <i class="fa fa-times interview-call-rejected" style="color: red;"></i> <!-- ไม่ยืนยัน -->
                      {% endif %}
                    {% else %}
                      {% if admission_result.is_tcas_canceled %}
                        <i class="fa fa-times-circle interview-call-canceled" style="color: #777777;"></i>
                      {% endif %}
                    {% endif %}
                  {% else %}
                    <input class="call-checkboxes" id="applicant_call_{{ a.national_id }}" data-natid="{{ a.national_id }}" type="checkbox" {% if a.is_called_for_interview %}checked{% endif %} />
                  {% endif %}
                {% endif %}
              </td>
            {% endwith %}
          {% else %}
            <td class="scores"></td>
            <td class="chboxes"></td>
          {% endif %}
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>
<script>
  var minMajorScore = {
    {% for num, score in cross_major_scores.items %}{{ num }}: {{ score }}{% if not forloop.last %}, {% endif %}{% endfor %}
  };
  var majorTitles = {
    {% for num, title in cross_major_titles.items %}{{ num }}: "{{ title }}"{% if not forloop.last %}, {% endif %}{% endfor %}
  };

  var isAcceptedForInterview = {
    {% for a in applicants %}{{ a.national_id }}: {% if a.is_called_for_interview %}true{% else %}false{% endif %}{% if not forloop.last %}, {% endif %}{% endfor %}
  };

  var updateConflictCounts = function() {
    $('.conflict-list li').detach();
    var counted = {};
    var mcount = {};
    var numCount = 0;
    $('.major-markers').each(function(idx) {
      var elt = $(this);
      var appid = $(this).data('appid');
      var mnum = $(this).data('mnum');
      var otherAccepted = $(this).data('accepted');
      if(isAcceptedForInterview[appid] && otherAccepted) {
        if(! counted[appid]) {
          counted[appid] = true;
          numCount++;
        }
        if(! mcount[mnum]) {
          mcount[mnum] = 1;
        } else {
          mcount[mnum]++;
        }
      }
    });
    $('#conflict_count_span_id').text(numCount);
    for(var num in majorTitles) {
      if(majorTitles.hasOwnProperty(num)) {
        if(mcount[num]) {
          $(".conflict-list").append("<li>" + majorTitles[num] + ": " + mcount[num] + "</li>");
        }
      }
    }
  };
  
  var updateCall = function(count) {
    $('.call-checkboxes').each(function(i, elt) {
      if(i < count) {
        $(elt).prop('checked', true);
      } else {
        $(elt).prop('checked', false);
      }
      
      var row = $(elt).parents('tr').first();
      var natid = $(row).data('appid');
      if($(elt).prop('checked')) {
        isAcceptedForInterview[natid] = true;
        $(row).addClass('app-interview-called');
        $(row).removeClass('app-interview-not-called');
      } else {
        isAcceptedForInterview[natid] = false;
        $(row).addClass('app-interview-not-called');
        $(row).removeClass('app-interview-called');
      }
    });
    updateConflictCounts();
  };
  
  var updateMajorMarkers = function() {
    $('.major-markers').each(function(idx) {
      var elt = $(this);
      var mnum = $(this).data('mnum');
      var score = $(this).data('score');
      if(minMajorScore[mnum] < score) {
        elt.addClass('accepted');
        elt.data('accepted', true);
      } else {
        elt.removeClass('accepted');
        elt.data('accepted', false);
      }
    });
  };

  var updateInterviewConfirmation = function() {
    $('.interview-call-rejected').each(function(i) {
      var elt = $(this);
      var row = elt.parents('tr').first();
      $(row).removeClass('app-interview-called');
      $(row).addClass('app-interview-not-called');
      $(row).find('td').each(function(j,td_elt) {
        var td = $(td_elt);
        td.css('background','#ffe7e7');
        //td.css('text-decoration-line','line-through');
      });
    });
    $('.interview-call-canceled').each(function(i) {
      var elt = $(this);
      var row = elt.parents('tr').first();
      $(row).removeClass('app-interview-called');
      $(row).addClass('app-interview-not-called');
      $(row).find('td').each(function(j,td_elt) {
        var td = $(td_elt);
        td.css('background','#a0a0a0');
        td.css('text-decoration-line','line-through');
      });
    });
  };
  
  $(function(){
    var url = '{% url 'backoffice:projects-interview-call-score-update' project.id admission_round.id major.number %}';
    $('.call-checkboxes').click(function(){
      var status = $(this).prop('checked') ? 'selected' : 'not-selected';
      var nationalId = $(this).data('natid');
      
      $('#data_load_notice_id').html('<span style="color: red;">กำลังจัดเก็บข้อมูล...</span>').show();
      jQuery.post(url, {
        nationalId: nationalId,
        status: status,
        csrfmiddlewaretoken: '{{ csrf_token }}'
      }, function(data) {
        updateCall(data);
        $('.interview-count-spans').text(data);
        $('#data_load_notice_id').html('<span style="color: green;">จัดเก็บข้อมูลเสร็จแล้ว</span>').delay(3000).fadeOut();
      });
    });
    
    updateMajorMarkers();
    updateConflictCounts();
    updateInterviewConfirmation();
  });
</script>
