{% extends 'backoffice/base.html' %}
{% block content %}
  <div class="row">
    <div class="col-md-12">
      <h1>ระบบจัดการผู้สมัคร</h1>
    </div>
  </div>

  {% if is_application_admin %}
    <div class="row">
      <div class="col-md-12 mb10 bborder-a0">
        {% include "backoffice/include/all_applicant_summary.html" %}
      </div>
    </div>
  {% endif %}
  
  <div class="row">
    <div class="col-md-12 mb10 bborder-a0">
      <h2>ผู้สมัครในโครงการ</h2>
      {% if is_admission_admin %}
        คุณเป็นผู้ดูแลโครงการ สามารถดูแลได้ทุกสาขาในโครงการรับสมัครที่รับผิดชอบ
      {% else %}
        {% if faculty %}
          คุณเป็นผู้ดูแลจาก {{ faculty }} สามารถดูแลได้ทุกสาขาจากคณะในโครงการรับสมัครที่รับผิดชอบ
        {% endif %}
      {% endif %}
      
      ด้านล่างเป็นรายการโครงการรับสมัครที่คุณรับผิดชอบที่เปิดรับสมัครตอนนี้

      <table class="table table-sm table-striped">
        <thead class="thead-dark">
          <tr>
            <th>โครงการ</th>
            <th>รอบสมัคร</th>
            <th>จำนวนผู้สมัคร</th>
            <th></th>
            <th colspan="100"></th>
         </tr>
        </thead>
        <tbody>
          {% for project in admission_projects %}
            {% for round, stats in project.admission_round_stats %}
              <tr>
                <td>{{ project }}</td>
                <td>{{ round }}</td>
                <td>{{ stats.num_applicants }}</td>
                <td>
                  <a class="btn btn-sm btn-success" href="{% url 'backoffice:projects-index' project.id round.id %}">พิจารณา</a>
                </td>
                {% if is_admission_admin %}
                  <td>
                    <a class="btn btn-sm btn-secondary" href="{% url 'backoffice:projects-list-majors' project.id round.id %}">ข้อมูลสาขาที่รับ</a>
                  </td>
                  <td>
                    <a class="btn btn-sm btn-outline-secondary" href="{% url 'backoffice:projects-list-majors-interview-descriptions' project.id round.id %}">ข้อมูลการสัมภาษณ์</a>
                  </td>
                {% endif %}
              </tr>
            {% endfor %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
