{% extends 'backoffice/base.html' %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-auto mr-auto">
        <h2>
          ตั้งค่าโครงการรับสมัคร
        </h2>
      </div>
    </div>
    <table class="table table-striped table-sm table-bordered">
      <thead>
        <tr>
	  <th></th>
          <th>โครงการ</th>
	  <th width="25%">นักเรียนที่รับ</th>
	  <th width="30%">ประเภทสถานศึกษา</th>
        </tr>
      </thead>
      <tbody>
        {% for project in admission_projects %}
          <tr>
	    <td>{{ project.id }}</td>
	    <td>{{ project }} ({{ project.cupt_code }})</td>
	    <td>
	      <div style="float: right;" class="dropdown">
		<button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		</button>
		<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
		  {% for v,t in student_type_choices %}
		    <button class="dropdown-item project-update-links"
			    data-project-id="{{ project.id }}"
			    data-update-val="{{ v }}"
			    data-update-type="student">{{ t }}</button>
		  {% endfor %}
		</div>
	      </div>
	      <span class="student-types" id="studentTypeId-{{ project.id }}">
		{{ project.get_admission_student_type_display }} 
	      </span>
	      <i id="studentTypeSpinnerId-{{ project.id }}" class="fa fa-spinner fa-spin" style="display: none;"></i>
	    </td>
	    <td>
	      <div style="float: right;" class="dropdown">
		<button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		</button>
		<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
		  {% for v,t in school_type_choices %}
		    <button class="dropdown-item project-update-links"
			    data-project-id="{{ project.id }}"
			    data-update-val="{{ v }}"
			    data-update-type="school">{{ t }}</button>
		  {% endfor %}
		</div>
	      </div>
	      <span class="school-types" id="schoolTypeId-{{ project.id }}">
		{{ project.get_admission_school_type_display }}
	      </span>
	      <i id="schoolTypeSpinnerId-{{ project.id }}" class="fa fa-spinner fa-spin" style="display: none;"></i>
	    </td>
          </tr>
	{% empty %}
	  <tr>
	    <td colspan="100">
	      ไม่มีโครงการที่แสดงกับผู้สมัคร
	    </td>
	  </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<script>
 var baseUrl = '{% url "backoffice:show_project_options" %}';
 
 $(".project-update-links").click(function(){
   var updateType = $(this).data('updateType');
   var projectId = $(this).data('projectId');
   var updateVal = $(this).data('updateVal');

   var textId = '#' + updateType + 'TypeId-' + projectId;
   var spinId = '#' + updateType + 'TypeSpinnerId-' + projectId;

   var url = `${baseUrl}${projectId}/${updateType}/${updateVal}/`;

   $(textId).text('กำลังจัดเก็บ');
   $(spinId).show();

   jQuery.post(url, {
     csrfmiddlewaretoken: '{{ csrf_token }}'
   },function(data) {
     if(data.result == 'OK') {
       $(textId).text(data.message);
       $(spinId).hide();
     }
   });
 });
</script>
{% endblock %}
