{% extends 'backoffice/base.html' %}
{% block content %}
  <div class="row">
    <div class="col-md-12">
      <h1>{{ applicant.national_id }} {{ applicant.get_full_name }}</h1>
      
      {% if notice %}
        <div class="alert alert-success">{{ notice }}</div>
      {% endif %}
      
      <table class="table table-striped table-sm">
        <tbody>
          {% include 'backoffice/include/applicant_info_rows.html' %}

          {% if payments %}
            {% include 'backoffice/include/applicant_payment_rows.html' %}
          {% endif %}

          {% if applications %}
            {% include 'backoffice/include/applicant_applications_rows.html' %}
          {% endif %}

          {% if user.is_super_admin %}
            {% include 'backoffice/include/applicant_admin_rows.html' %}
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
