{% extends 'backoffice/base.html' %}
{% block content %}
  <div class="row">
    <div class="col-md-12">
      <h1>{{ applicant.national_id }} {{ applicant.get_full_name }}</h1>

      <table class="table table-striped table-sm bborder-a0">
        <tbody>
          <tr>
            <td>อีเมล</td>
            <td>{{ applicant.email }}</td>
          </tr>
          
          {% if applicant.passport_number %}
            <tr>
              <td>พาสปอร์ต</td>
              <td>{{ applicant.passport_number }}</td>
            </tr>
          {% endif %}

          {% if education.education_level %}
          <tr>
            <td>ระดับการศึกษา</td>
            <td>{{ education.get_education_level_display }}</td>
          </tr>
          {% endif %}

          {% if education.education_plan %}
          <tr>
            <td>แผนการศึกษา</td>
            <td>{{ education.get_education_plan_display }}</td>
          </tr>
          {% endif %}

          {% if education.gpa %}
          <tr>
            <td>เกรด</td>
            <td>{{ education.gpa }}</td>
          </tr>
          {% endif %}

          {% if education.province %}
          <tr>
            <td>จังหวัด</td>
            <td>{{ education.province }}</td>
          </tr>
          {% endif %}

          {% if education.school_title %}
          <tr>
            <td>โรงเรียน</td>
            <td>{{ education.school_title }}</td>
          </tr>
          {% endif %}

        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
