{% extends 'backoffice/base.html' %}
{% block content %}
  <div class="row">
    <div class="col-md-12">
    {% for applicant in applicants %}
      <h1>{{ applicant.national_id }} {{ applicant.get_full_name }}</h1>

      <table class="table table-striped table-sm bborder-a0">
        <tbody>
          <tr>
            <td>อีเมล</td>
            <td>{{ applicant.email }}</td>
          </tr>
          {% if applicant.passport_number %}
            <tr>
              <td>พาสปอร์ต</td>
              <td>{{ applicant.passport_number }}</td>
            </tr>
          {% endif %}
        </tbody>
      </table>
      {% endfor %}
    </div>
  </div>
{% endblock %}
