{% extends 'backoffice/base.html' %}
{% block content %}
{% load static %}
<div class="row">
  <div class="col-md-12">
    <h2>
      เพิ่มสาขา โครงการ{{ project.title }} ({{ admission_round }}) </h2>

    {% if notice %}
    <div class="alert alert-success">{{ notice }}</div>
    {% endif %}

    <div id="add-criterion-form"></div>
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <!-- Load our React component. -->

    <script>
      console.log('mameaw')
      console.log(JSON.parse(`{{ majors|safe}}`))
      const MAJORS = JSON.parse(`{{ majors|safe}}`)
    </script>
    <script src="{% static "react/component.js" %}" data-majors='{{ majors|safe }}'></script>

  </div>
</div>
{% endblock %}