{% extends 'backoffice/base.html' %}
{% block content %}
{% load static %}
<div class="row">
  <div class="col-md-12">
    <h2>
      แก้ไขเกณฑ์ โครงการ{{ project.title }} ({{ admission_round }})
    </h2>
    {% if notice %}
    <div class="alert alert-success">{{ notice }}</div>
    {% endif %}
    <form method="post">
      {% csrf_token %}
      <div id="add-criterion-form"></div>
      <button class="btn btn-primary" type="submit">แก้ไขเกณฑ์</button>
    </form>
    <script>

      const relationRequired = [
        {
          "value": "OR",
          "label": "ข้อใดข้อหนึ่ง"
        },
        {
          "value": "AND",
          "label": "ทุกข้อ"
        },
        {
          "value": "SUM",
          "label": "ใช้คะแนนรวม"
        },
        {
          "value": "MAX",
          "label": "ใช้คะแนนมากที่สุด"
        }
      ]
      const relationScoring = [
        {
          "value": "MAX",
          "label": "ใช้คะแนนมากที่สุด"
        },
        {
          "value": "SUM",
          "label": "ใช้คะแนนรวมตามสัดส่วน"
        }
      ]
      const generalRequiredTags = [
        "ผลการเรียนเฉลี่ยสะสม (GPAX) 5 ภาคเรียน",
        "ผลการเรียนเฉลี่ยสะสม (GPAX)",
        "เป็นผู้ที่กำลังศึกษาอยู่ชั้นมัธยมศึกษาปีที่ 6 หรือเทียบเท่า",
        "กำลังศึกษาหรือสำเร็จศึกษาชั้นมัธยมศึกษาปีที่ 6 หรือเทียบเท่า",
      ]
      const generalScoringTags = [
        "ผลการเรียนเฉลี่ยสะสม (GPAX) 5 ภาคเรียน",
        "ผลการเรียนเฉลี่ยสะสม (GPAX)",
        "การสอบสัมภาษณ์",
        "การสอบสัมภาษณ์เป็นภาษาอังกฤษ",
      ]
      const testTags = [
        "O-NET (5 กลุ่มสาระวิชา)",
        "O-NET (01) ภาษาไทย",
        "O-NET (02) สังคมศึกษา",
        "O-NET (03) ภาษาอังกฤษ",
        "O-NET (04) คณิตศาสตร์",
        "O-NET (04) วิทยาศาสตร์",
        "GAT",
        "PAT 1",
        "PAT 2",
        "PAT 3",
        "PAT 4",
        "PAT 5",
        "PAT 6",
        "PAT 7",
        "PAT 7.1",
        "PAT 7.2",
        "PAT 7.3",
        "PAT 7.4",
        "PAT 7.5",
        "PAT 7.6",
        "PAT 7.7",
        "TOEFL PBT/ITP",
        "TOEFL CBT",
        "TOEFL IBT",
        "IELTS",
        "OOPT",
        "KU-EPT",
        "วิชาสามัญ 9 วิชา"
      ];
      const unitTags = [
        "คะแนน",
        "หน่วยกิต",
      ];
    </script>
    <script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>

    <script src="{% static "react/CreateCriterionForm.js" %}" data-majors='{{ majors|safe }}'
      data-selected-majors='{{ data_selected_majors|safe }}' data-required='{{ data_required|safe }}'
      data-scoring='{{ data_scoring|safe }}'></script>
    <style>
      .table td {
        vertical-align: baseline;
      }

      td input.form-control:not(:focus):not(:hover),
      td textarea.form-control:not(:focus):not(:hover) {
        border-width: 0;
      }

      td input,
      textarea {
        resize: none;
      }

      .ui-autocomplete {
        max-height: 250px;
        overflow-y: auto;
      }
    </style>
  </div>
</div>
{% endblock %}