{% extends 'backoffice/base.html' %} {% block content %}
<div class="row">
  <div class="col-md-12">
    <h2>แก้ไขเกณฑ์ โครงการ{{ project.title }} ({{ admission_round }})</h2>
    <div class="alert alert-warning">
      ในการป้อนเกณฑ์การรับ สามารถกำหนดให้หลาย ๆ สาขาใช้เกณฑ์เดียวกันได้
      เพื่อความสะดวกสามารถคัดลอกเกณฑ์ที่ป้อนแล้วเป็นเกณฑ์ใหม่เพื่อปรับเปลี่ยนได้ นอกจากนี้ เร็ว ๆ
      นี้จะสามารถคัดลอกเกณฑ์ไปยังโครงการอื่น ๆ ได้ด้วย &nbsp;&nbsp;&nbsp;
      <b>จะมีคลิปอธิบายการป้อนเกณฑ์เร็ว ๆ นี้ ขออภัยในความไม่สะดวก</b>
    </div>
    {% if not admission_criterias %}
    {% if not free_curriculum_majors %}
    <div class="alert alert-warning">
      <span class="badge badge-warning"><b>ยังไม่ได้เลือกสาขา</span>
      ขณะนี้คุณยังไม่ได้เลือกว่าจะมีสาขาใดที่มีการรับเข้าภายใต้โครงการ{{ project.title }}
      กรุณาเลือกสาขาที่จะเปิดรับก่อน</b>
    </div>
    {% endif %}
    {% endif %}
    <div class="alert alert-info">
      เลือกสาขาวิชาที่เปิดรับในโครงการ{{ project.title }}
      <a class="btn btn-sm btn-info"
        href="{% url 'backoffice:criteria:curriculum-majors' project.id admission_round.id %}">เลือกสาขาวิชา</a>
      <a class="btn btn-sm btn-secondary"
        href="{% url 'backoffice:criteria:list-curriculum-majors' %}">แสดงรายการสาขาวิชาที่เลือกเปิด</a>
    </div>
    {% if notice %}
    <div class="alert alert-success">{{ notice }}</div>
    {% endif %}
    <table class="table table-sm">
      <thead class="thead-dark">
        <tr>
          <th>สาขาวิชาที่ใช้เกณฑ์</th>
          <th>เงื่อนไขขั้นต่ำ</th>
          <th>เกณฑ์การพิจารณา</th>
          <th>แก้ไข</th>
        </tr>
      </thead>
      {% for admission_criteria in admission_criterias %}
      {% with scorecriterias=admission_criteria.scorecriteria_set.all %}
      <tr class="{% if admission_criteria.curriculummajor_set.all %}{% else %}table-warning{% endif %}">
        <td>
          <ul>
            {% for major in admission_criteria.curriculummajor_set.all %}
            <li>{{major.cupt_code}}</li>
            {% empty %}
            <li>(ยังไม่ได้ระบุสาขา)</li>
            {% endfor %}
          </ul>
        </td>
        <td>
          <ul>
            {% for scorecriteria in scorecriterias %}
            {% if scorecriteria.criteria_type == "required" and scorecriteria.secondary_order == 0  %}
            <li>
              {{scorecriteria.description}} {%if scorecriteria.value %}ไม่ต่ำกว่า {{scorecriteria.value|floatformat:1}}
              {{scorecriteria.unit}} {% endif %}
            </li>
            {% endif %} {% endfor %}
          </ul>
        </td>
        <td>
          <ul>
            {% for scorecriteria in scorecriterias %}
            {% if scorecriteria.criteria_type == "scoring" and scorecriteria.secondary_order == 0 %}
            <li>{{scorecriteria.description}}</li>
            {% endif %} {% endfor %}
          </ul>
        </td>
        <td>
          <a href="{% url 'backoffice:criteria:create' project.id admission_round.id %}?duplicate_score_id={{admission_criteria.id}}"
            class="btn btn-primary btn-sm">คัดลอก</a>
          <a href="#" class="btn btn-secondary d-none btn-sm">คัดลอกไปยังโครงการอื่น</a>
          <a href="{% url 'backoffice:criteria:edit' project.id admission_round.id admission_criteria.id %}"
            class="btn btn-info btn-sm">แก้ไข</a>
          <form class="d-inline"
            action="{% url 'backoffice:criteria:delete' project.id admission_round.id admission_criteria.id %}"
            id="delete_{{admission_criteria.id}}" method="post">
            {% csrf_token %}
          </form>
          <button class="btn btn-danger btn-sm" onclick="deleteCriteria('delete_{{admission_criteria.id}}')">ลบ</button>
        </td>
      </tr>
      {% endwith %}
      {% endfor %}
      {% for major in free_curriculum_majors %}
      <tr>
        <td>
          <ul>
            <li>{{major.cupt_code}}</li>
          </ul>
        </td>
        <td colspan="2">
          (ยังไม่มีการกำหนดเกณฑ์)
        </td>
        <td>
          <a href="{% url 'backoffice:criteria:create' project.id admission_round.id %}?selected_major_id={{major.id}}"
            class="btn btn-success btn-sm">กำหนดเงื่อนไขและเกณฑ์การพิจารณา</a>
        </td>
      </tr>
      {% endfor %}
      {% if not admission_criterias %}
      {% if not free_curriculum_majors %}
      <tr>
        <td>(ยังไม่มีการเลือกสาขาที่เปิดรับในโครงการนี้)</td>
      </tr>
      {% endif %}
      {% endif %}
    </table>
  </div>
  <script>
    function deleteCriteria(text) {
      let ok = confirm('ต้องการลบเกณฑ์?')
      if (ok) {
        $('form#' + text).submit()
      }
    }
  </script>
</div>
{% endblock %}