ความเห็นกรรมการ:
<form method="post" action="{% url 'backoffice:projects-save-comment' project.id admission_round.id applicant.national_id major.number  %}" class="form comment-form">
  {% csrf_token %}
  <textarea id="comment_textarea_id" name="body" class="form-control mb5" style="padding: 3px; font-size: 70%;"></textarea>
  <input type="submit" id="comment_submit_id" class="btn btn-secondary btn-sm" value="จัดเก็บ"/>
</form>
<hr />
<div id="judge_comments_id">
  {% include 'backoffice/projects/include/judge_comment_list.html' %}
</div>
<script>
  $(function(){
    $("#comment_submit_id").click(function() {
      var data = $(".comment-form").serialize();
      var url = $(".comment-form").attr('action');
      jQuery.post(url,
                  data,
                  function(data) {
                    if(data.result == 'OK') {
                      $('#judge_comments_id').html(data.html);
                      $('#comment_textarea_id').val('');
                    }
                  });
      return false;
    });
    $("#judge_comments_id").on("click", ".comment-delete", function() {
      var url = $(this).attr('data-delete-url');
      alert(url)
      jQuery.get(url,
                  function(data) {
                    if(data.result == 'OK') {
                      $('#judge_comments_id').html(data.html);
                      $('#comment_textarea_id').val('');
                    }
                  });
      return false;
    });
  });
</script>
