<div class="applicant-toolbars p5 border rounded bg-light">
  ทำเครื่องหมาย
  <div class="check-mark-groups d-inline-block">
    {% include 'backoffice/projects/include/check_mark_group.html' %}
  </div>
  &nbsp;
  ผลการพิจารณา:
  {% if has_paid %}
    เรียกสัมภาษณ์
    <div id="interview_button_group_id" class="d-inline-block">
      {% include 'backoffice/projects/include/interview_buttons.html' %}
    </div>
  {% else %}
    ไม่เรียกสัมภาษณ์
    <small>(ยังไม่ชำระค่าสมัคร)</small>
  {% endif %}
</div>
<script>
  var baseToggleUrl = '{% url 'backoffice:projects-check-mark-toggle' project.id admission_round.id applicant.national_id major.number 0 %}';
  var baseSetInterviewUrl = '{% url 'backoffice:projects-set-call-for-interview' project.id admission_round.id applicant.national_id major.number 'x' %}';
  $(function(){
    $('.check-mark-groups').on('click','.check-mark-toggles', function() {
      var number = $(this).data('markNum');
      var url = baseToggleUrl.replace('/0/','/'+number+'/');
      jQuery.post(url,
                  { csrfmiddlewaretoken: csrftoken },
                  function(data) {
                    if(data.result == 'OK') {
                      $('.check-mark-groups').html(data.html);
                    }
                  });
      return false;
    });

    $('#interview_button_group_id').on('click','.interview-selection-buttons', function() {
      var decision = $(this).data('decision');
      var url = baseSetInterviewUrl.replace('/x/','/'+decision+'/');
      jQuery.post(url,
                  { csrfmiddlewaretoken: csrftoken },
                  function(data) {
                    if(data.result == 'OK') {
                      $('#interview_button_group_id').html(data.html);
                    }
                  });
      return false;
    });
  });
</script>
