{% for doc in uploaded_documents %}
  <div class="mt5 border border-top-0 border-left-0 border-right-0">
    <small>
      {% if doc.can_have_multiple_files and doc.applicant_uploaded_documents|length > 1 %}
        <i class="fa fa-angle-right"></i> {{ doc.title }}
        <span class="badge badge-secondary">{{ doc.applicant_uploaded_documents|length }}</span>
        <br />
        {% for app_doc in doc.applicant_uploaded_documents %}
          {% if not doc.is_url_document %}
            <a class="app-document-links" href="{% url 'backoffice:projects-download-app-document' project.id admission_round.id major.number applicant.national_id doc.id app_doc.id %}" data-is-pdf="{{ app_doc.is_pdf }}">
              <i class="fa fa-angle-double-right"></i>
              {% if app_doc.detail %}{{ app_doc.detail }}{% else %}เอกสารที่ {{ forloop.counter }}{% endif %}
            </a>
          {% else %}
            <a target="_blank" href="{{ app_doc.document_url }}">
              <i class="fa fa-angle-double-right"></i>
              {% if app_doc.detail %}{{ app_doc.detail }}{% else %}เอกสารที่ {{ forloop.counter }}{% endif %} <i class="fa fa-external-link"></i>
            </a>
          {% endif %}
          <br />
        {% endfor %}
      {% else %}
        {% for app_doc in doc.applicant_uploaded_documents %}
          {% if not doc.is_url_document %}
            <a class="app-document-links" href="{% url 'backoffice:projects-download-app-document' project.id admission_round.id major.number applicant.national_id doc.id app_doc.id %}" data-is-pdf="{{ app_doc.is_pdf }}"><i class="fa fa-angle-right"></i> {{ doc.title }}</a>
            <span class="badge badge-secondary">{{ doc.applicant_uploaded_documents|length }}</span>
          {% else %}
            <a target="_blank" href="{{ app_doc.document_url }}">
              <i class="fa fa-angle-right"></i> {{ doc.title }} <i class="fa fa-external-link"></i>
            </a>
          {% endif %}
        {% endfor %}
      {% endif %}
    </small>
  </div>
{% endfor %}
<script>
  $(function(){
    $(".app-document-links").click(function(){
      var href = $(this).attr('href');
      var isPdf = ($(this).data('isPdf') == 'True');
      if(!isPdf) {
        var imgstr = '<a onclick="openPhotoSwipe(\'' + href + '\')" target="_blank"><img class="img-fluid" style="max-height: 100%;" src="' + href + '"/></a>';
      } else {
        var imgstr = '<a href="' + href + '" target="_blank"><embed width="100%" height="100%" type="application/pdf" src="' + href + '"/></a>';
      }
      $('#document_panel_id').html(imgstr);
      $('#download_link_id').attr('href', href).show();
      return false;
    });
  });
</script>
