<div class="applicant-toolbars p5 border rounded bg-light">
  <span class="badge badge-pill badge-danger">ตัวอย่างเท่านั้น!!!</span>
  เลือก
  <div class="check-mark-groups d-inline-block">
    {% include 'backoffice/projects/include/check_mark_group.html' %}
  </div>
  
  ผลการพิจารณา: เรียกสัมภาษณ์
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-sm btn-outline-success"><i class="fa fa-check"></i> เรียก</button>
    <button type="button" class="btn btn-sm btn-outline-danger"><i class="fa fa-close"></i> ไม่เรียก</button>
  </div>
</div>
<script>
  var baseToggleUrl = '{% url 'backoffice:projects-check-mark-toggle' project.id admission_round.id applicant.national_id major.number 0 %}';
  $(function(){
    $('.check-mark-groups').on('click','.check-mark-toggles', function() {
      var number = $(this).data('markNum');
      var url = baseToggleUrl.replace('/0/','/'+number+'/');
      jQuery.post(url,
                  { csrfmiddlewaretoken: csrftoken },
                  function(data) {
                    if(data.result == 'OK') {
                      $('.check-mark-groups').html(data.html);
                    }
                  });
      return false;
    });
  });
</script>
