<div>
  {% if education %}
    โรงเรียน: {{ education.school_title }} ({{ education.province }}) |
    แผนการเรียน: {{ education.get_education_plan_display }} |
    GPA: {{ education.gpa|floatformat:"2" }}
  {% else %}
    <span class="badge badge-danger">ไม่มีข้อมูลการศึกษา</span>
  {% endif %}
  {% if personal %}
    <a href="#" class="badge badge-info badge-pill personal-toggle-buttons">แสดงข้อมูลเพิ่มเติม</a>
    <div class="personal-list" style="display: none;">
      <ul>
        <li>ชื่อ(อังกฤษ): {{ personal.prefix_english }} {{ personal.first_name_english }} {{ personal.last_name_english }}</li>
        <li>วันเดือนปีเกิด: {{ personal.birthday }} </li>
        <li>ชื่อบิดา: {{ personal.father_prefix }} {{ personal.father_first_name }} {{ personal.father_last_name }} | ชื่อมารดา: {{ personal.mother_prefix }} {{ personal.mother_first_name }} {{ personal.mother_last_name }}</li>
        <li>ที่อยู่: {{ personal.house_number }} {{ personal.village_number }} {{ personal.avenue }} {{ personal.road }} {{ personal.sub_district }} {{ personal.province }} {{ personal.postal_code }}</li>
      </ul>
    </div>
  {% else %}
    <span class="badge badge-secondary">ไม่มีข้อมูลส่วนตัว</span>
  {% endif %}
  <!-- ########## supplements hack ######### -->
  {% if project.id == 35 %}
    {% for instance in supplement_instances %}
      <div>
	รหัสประจำบ้านผู้สมัคร: {{ instance.applicant_house_code }} | รหัสประจำบ้านผู้ปกครอง: {{ instance.parent_house_code }}
      </div>
    {% endfor %}
  {% endif %}
</div>
<script>
  $(function(){
    $(".personal-toggle-buttons").click(function(){
      $(".personal-list").slideToggle();
      return false;
    });
  });
</script>
