{% for comment in judge_comments %}
  <div class="mb5 border p5" style="{% if comment.is_shared_in_major %}border: 2px solid #a0a0a0 !important;{% endif %}">
    <div class="float-right">
      <a class="badge badge-secondary comment-delete" href="#" data-delete-url="{% url 'backoffice:projects-delete-comment' project.id admission_round.id applicant.national_id major.number comment.id %}"><i class="fa fa-close"></i></a>
    </div>
    <small>
      {{ comment.body|linebreaksbr }}
      {% if comment.author_username %}- {{ comment.author_username }}{% endif %}
    </small>
  </div>
{% endfor %}
