<small>
  มีรายละเอียดแล้ว
  <button
    type="button"
    class="btn btn-sm btn-outline-secondary"
    data-container="body"
    data-toggle="popover"
    data-placement="right"
    title="ระบุโดย{% if major.spanned_interview_descriptions|length > 1 %} [ระบุมากกว่า 1 ชุด จะใช้ข้อมูลแรก]{% endif %}"
    data-content="{% for i in major.spanned_interview_descriptions %}{{ forloop.counter }}. {{ i.admission_project }} / {{ i.major }}{% if forloop.first and major.spanned_interview_descriptions|length > 1 %} (**){% endif %}{% if not forloop.last %},&nbsp;&nbsp;&nbsp;{% endif %}{% endfor %}">&#x1F6C8;</button>
</small>
