{% extends 'backoffice/base.html' %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <h2>แก้ไขเกณฑ์ โครงการ{{ project.title }} ({{ admission_round }}) - {{ faculty }} ({{ faculty.campus }})</h2>
    <div class="alert alert-warning">
      ในการป้อนเกณฑ์การรับ สามารถกำหนดให้หลาย ๆ สาขาใช้เกณฑ์เดียวกันได้
      เพื่อความสะดวกสามารถคัดลอกเกณฑ์ที่ป้อนแล้วเป็นเกณฑ์ใหม่เพื่อปรับเปลี่ยนได้ นอกจากนี้ เร็ว ๆ
      นี้จะสามารถคัดลอกเกณฑ์ไปยังโครงการอื่น ๆ ได้ด้วย &nbsp;&nbsp;&nbsp;
      รับชม<a target="_blank" href="https://www.youtube.com/watch?v=W-i9SWzhQ3k">คลิปแนะนำการใช้งานบน YouTube</a>
    </div>
    
    {% include "criteria/include/faculty_menu.html" %}
    
    {% if not admission_criteria_rows %}
      {% if not free_curriculum_majors %}
	<div class="alert alert-warning">
	  <span class="badge badge-warning"><b>ยังไม่ได้เลือกสาขา</span>
	    ขณะนี้คุณยังไม่ได้เลือกว่าจะมีสาขาใดที่มีการรับเข้าภายใต้โครงการ{{ project.title }}
	    กรุณาเลือกสาขาที่จะเปิดรับก่อน</b>
	</div>
      {% endif %}
    {% endif %}
    <div class="alert alert-info">
      เลือกสาขาวิชาที่เปิดรับในโครงการ{{ project.title }}
      <a class="btn btn-sm btn-info"
         href="{% url 'backoffice:criteria:curriculum-majors' project.id admission_round.id %}{{ faculty_url_query }}">เลือกสาขาวิชา</a>
      <a class="btn btn-sm btn-secondary"
         href="{% url 'backoffice:criteria:list-curriculum-majors' %}{{ faculty_url_query }}">แสดงรายการสาขาวิชาที่เลือกเปิด</a>
    </div>
    {% if notice %}
      <div class="alert alert-success">{{ notice }}</div>
    {% endif %}

    {% include "criteria/include/criteria_table.html" %}
  </div>
</div>
{% endblock %}
