{% extends 'backoffice/base.html' %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <h2>สาขาที่เปิดรับสำหรับ{{ faculty }}</h2>

    {% include "criteria/include/faculty_menu.html" %}

    <ul class="nav nav-pills" id="tableTab" role="tablist">
      <li class="nav-item"><a class="nav-link disabled">เลือกรอบ:</a></li>
      {% for r, round_major_table, projects in round_data %}
      <li class="nav-item">
	<a class="nav-link {% if forloop.first %}active{% endif %}" id="round-{{ r.id }}-tab" data-toggle="pill" href="#round-{{ r.id }}" role="tab" aria-controls="round-{{ r.id }}" aria-selected="false">{{ r }}</a>
      </li>
      {% endfor %}	  
    </ul>
    <div class="tab-content" id="tableTabContent">
      {% for r, round_major_table, projects in round_data %}
        <div class="tab-pane {% if forloop.first %}active{% endif %}" id="round-{{ r.id }}" role="tabpanel" aria-labelledby="round-{{ r.id }}-tab">
          {% with r as admission_round %}
            {% include 'criteria/include/curriculum_major_table.html' %}
          {% endwith %}
	</div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
