{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <h2>ระบบจัดการผู้สมัคร</h2>
  
    {% if form.errors %}
      <div class="alert alert-danger">
        ชื่อผู้ใช้หรือรหัสผ่านผิดพลาด
      </div>
    {% endif %}

    {% if next %}
      {% if user.is_authenticated %}
        <p>
          คุณไม่มีสิทธิ์เข้าถึงหน้าดังกล่าว กรุณาเข้าระบบด้วยบัญชีผู้ใช้ที่มีสิทธิ์ใช้งาน
        </p>
      {% else %}
        <p>
          กรุณาเข้าใช้ระบบก่อนที่จะเริ่มทำงาน
        </p>
      {% endif %}
    {% endif %}

    <form method="post" action="{% url 'backoffice-login' %}">
      {% csrf_token %}
      {{ form|crispy }}
      <input class="btn btn-primary btn-lg" type="submit" value="เข้าระบบ" />
      <input type="hidden" name="next" value="{{ next }}" />
    </form>
  </div>
</div>
{% endblock %}
