{% extends 'appl/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block additional_head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"
      integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ=="
      crossorigin="anonymous" referrerpolicy="no-referrer"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
        integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h2>{% trans 'กรอกข้อมูลการศึกษา' context 'form title' %}</h2>
    </div>
    {% include 'appl/include/form_instruction.html' %}
    <div class="col-md-12">
        {% crispy form %}
    </div>
</div>
<script>
 {% if admission_round and admission_round.number == 4 %}
 $(function(){
   $("#hint_id_gpa").html("สำหรับการคัดเลือกรอบที่ 4 <b>ให้กรอกเกรดเฉลี่ย 6 ภาคการศึกษา</b>");
 });
 {% endif %}
 
  var schoolSelectStr = '<select id="id_topschool_select" class="select form-control" style="display:none;"></select>';

  var copySchoolToSelect = function() {
    var val = $("#id_school_title").val();
    $("#id_topschool_select option").each(function(){
      if($(this).val() == val) {
        $(this).prop('selected',true);
      }
    });
  };

  var copySchoolToInput = function() {
    var val = $("#id_topschool_select").val();
    if(val) {
      $("#id_school_title").val(val);
    }
  };
  
  var updateSchoolInput = function() {
    var wh_only = $('#wh_school_check_id').prop('checked');
    
    if(wh_only) {
      $("#id_school_title")
        .hide()
        .attr('name','school_title_hidden')
        .prop('required',false);

      $("#id_topschool_select")
        .show()
        .attr('name','school_title')
        .prop('required',true);

      copySchoolToSelect();
    } else {
      $("#id_topschool_select")
        .hide()
        .attr('name','school_title_hidden')
        .prop('required',false);

      $("#id_school_title")
        .show()
        .attr('name','school_title')
        .prop('required',true);

      copySchoolToInput();
    }
  };

  var populateSchoolSelect = function() {
    var baseUrl = '{% url 'appl:ajax-topschool-list' %}';
    var province = $("#id_province").val();
    jQuery.get(baseUrl,
               { province: province },
               function(data) {
                //  var actualData = eval(data);
                 var actualData = [{title: 'กรุงเทพ'}];

                 $("#id_topschool_select option").detach();
                 jQuery.each(actualData, function(i, title) {
                   title = title.replace(/\"/g,'&quot;')
                   var optionStr = ('<option value="' + title + '">' +
                                    title + '</option>');
                   $("#id_topschool_select").append(optionStr);
                 });
               });
  }

  var addNoStudyPlanWarning = function() {
    $("#div_id_education_plan").append('<div id="id_no_plan_warning" style="display:none;"><span class="badge badge-danger">คำเตือน</span> <small>การไม่ระบุแผนการเรียน อาจทำให้ไม่ผ่านเกณฑ์ขั้นพื้นฐานในการสมัครบางสาขา กรุณาตรวจสอบ</small></div>')
  };

  var updateNoStudyPlanWarning = function() {
    var p = $("#id_education_plan").val();
    if(p=='5') {
      $('#id_no_plan_warning').show();
    } else {
      $('#id_no_plan_warning').hide();
    }
  }
  
  $(function(){
    $("#id_school_title").after(schoolSelectStr);

    $("#id_school_title").autocomplete({
      source: function(request, response) {
        var baseUrl = "{% url 'appl:ajax-school-search' %}";
        var province = $("#id_province").val();
        
        jQuery.get(baseUrl,
                   { province: province,
                     term: request.term },
                   function(data) {
                     var actualData = eval(data);
                     response(actualData);
                   });
      },
      minLength: 3
    });

    $("#wh_school_check_id").click(updateSchoolInput);
    $("#id_province").change(populateSchoolSelect);
    
    populateSchoolSelect();
    updateSchoolInput();

    //addNoStudyPlanWarning();
    //updateNoStudyPlanWarning();
    //$('#id_education_plan').change(updateNoStudyPlanWarning);
  });

</script>
{% endblock %}


