{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block additional_head %}
  <link href="{% static 'lib/jquery/jquery-ui.min.css' %}" rel="stylesheet" />
  <script src="{% static 'lib/jquery/jquery-ui.min.js' %}"></script>
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <h2>กรอกข้อมูลการศึกษา</h2>
  </div>
  {% include 'appl/include/form_instruction.html' %}
  <div class="col-md-12">
    {% crispy form %}
  </div>
</div>
<script>
 $(function(){
   $("#id_school_title").autocomplete({
     source: function(request, response) {
       var baseUrl = "{% url 'appl:ajax-school-search' %}";
       var province = $("#id_province").val();
       jQuery.get(baseUrl,
                  { province: province,
                    term: request.term },
                  function(data) {
                    var actualData = eval(data);
                    response(actualData);
                  });
     },
     minLength: 3
   });
 });
</script>
{% endblock %}
