{% load crispy_forms_tags %}
{% load static %}
<h2>เลขรหัสประจำบ้านของผู้สมัคร และ บิดาหรือมารดาหรือผู้ปกครอง (เฉพาะสาขาแพทยศาสตร์)</h2>
<div class="alert alert-warning clearfix">
  <div class="float-right ml-2">
    <img src="{% static 'supplements/med/house_code.png' %}">
  </div>
  ให้กรอกรายละเอียดเลขรหัสประจำบ้านของผู้สมัคร <b>และในกรณีที่สมัครสาขาแพทย์ศาสตร์ รหัสประจำบ้านของบิดาหรือมารดาหรือผู้ปกครอง</b>ให้ถูกต้อง เพราะเป็นข้อมูลที่ต้องใช้สำหรับตรวจสอบเงื่อนไขการสมัครในโครงการ &nbsp;&nbsp; สามารถตรวจสอบเลขดังกล่าวได้จากสมุดทะเบียนบ้านของผู้สมัครและของบิดาหรือมารดาหรือผู้ปกครองได้ในทุกหน้า<br>
  <br>
  ถ้าสมัครสาขาพยาบาลศาสตร์ไม่ต้องกรอกรหัสประจำบ้านของบิดามารดาหรือผู้ปกครอง
</div>
{{ med_house_codes.form|crispy }}
