<div class="border-top border-bottom pb-1 pt-1">
  <small>
    {% if project.is_custom_graduate_year_allowed %}
      สามารถแก้สถานะการเรียนชั้น ม.6 ข้อผู้สมัครได้จากหน้ารายการเงื่อนไข &nbsp;|&nbsp;
    {% else %}
      เงื่อนไขผู้สมัคร: {{ project.get_admission_student_type_display }} &nbsp;|&nbsp;
    {% endif %}
    {% if project.is_custom_curriculum_type_allowed %}
      เงื่อนไขประเภทหลักสูตรสามารถแก้ไขได้ที่หน้ารายการเงื่อนไข &nbsp;|&nbsp;
    {% else %}
      <span>เงื่อนไขประเภทโรงเรียน: {{ project.get_admission_school_type_display }} &nbsp;|&nbsp;</span>
    {% endif %}
    {% if not project.is_custom_curriculum_type_allowed %}
      <span class="text-muted">ถ้าต้องการแก้ไขกรุณาแจ้งฝ่ายรับสมัคร หรือระบุในเงื่อนไขคุณสมบัติเฉพาะ</span>
    {% else %}
      {% if not project.is_custom_graduate_year_allowed %}
	<span class="text-muted">ถ้าต้องการแก้ไขกรุณาแจ้งฝ่ายรับสมัคร หรือระบุในเงื่อนไขคุณสมบัติเฉพาะ</span>
      {% endif %}
    {% endif %}
  </small>
</div>

{% if project.id == 28 %}
  <div class="alert alert-info mt-1">
    <span class="badge badge-info">ประกาศ</span>
    ในการกรอกเกณฑ์การรับโครงการ Admission จะสามารถเลือกวิชาสอบและเกณฑ์ได้จากรายการเท่านั้น &nbsp;&nbsp; <span class="d-none">ในที่ประชุมกำหนดให้ในการคัดเลือก <b>ต้องใช้คะแนน GAT อย่างน้อย 30% และใช้ GPAX (6 ภาคการศึกษา) ไม่เกิน 20%</b> &nbsp;</span> นอกจากนี้ ทางทปอ.ยังขอความร่วมมือไม่ใช้คะแนนสอบเกิน 4 วิชา และทางที่ประชุมขอความร่วมมือไม่กำหนดคะแนนขั้นต่ำ ถ้าสามารถทำได้<br>
    <span class="badge badge-primary">ประกาศ</span> สำหรับเงื่อนไขสัมภาษณ์หรือรายละเอียดเกี่ยวกับการส่งผลตรวจสุขภาพ ของรอบ Admission สามารถบันทึกได้ที่ส่วนเงื่อนไขเพิ่มเติมด้านล่าง  ให้ใส่เฉพาะเงื่อนไขที่ไม่สามารถเลือกได้เท่านั้น
  </div>
{% endif %}

