<script>
  const relationRequired = [
    {
      "value": "OR",
      "label": "ข้อใดข้อหนึ่ง"
    },
    {
      "value": "AND",
      "label": "ทุกข้อ"
    },
    {
      "value": "SUM",
      "label": "ใช้คะแนนรวม"
    },
    {
      "value": "MAX",
      "label": "ใช้คะแนนมากที่สุด"
    }
  ]
  const relationScoring = [
    {
      "value": "MAX",
      "label": "ใช้คะแนนมากที่สุด"
    },
    {
      "value": "SUM",
      "label": "ใช้คะแนนรวมตามสัดส่วน"
    }
  ]
  const general_required_tags = [
    {
      "score_type": "GPAX_5_SEMESTER",
      "description": "ผลการเรียนเฉลี่ยสะสม (GPAX) 5 ภาคเรียน", "unit": ""
    },
    {
      "score_type": "GPAX",
      "description": "ผลการเรียนเฉลี่ยสะสม (GPAX)", "unit": ""
    },
    //{
    //  "score_type": "STUDY_AT_12",
    //  "description": "เป็นผู้ที่กำลังศึกษาอยู่ชั้นมัธยมศึกษาปีที่ 6 หรือเทียบเท่า", "unit": ""
    //},
    //{
    //  "score_type": "GRAD_OR_STUDY_AT_12",
    //  "description": "กำลังศึกษาหรือสำเร็จศึกษาชั้นมัธยมศึกษาปีที่ 6 หรือเทียบเท่า", "unit": ""
    //},
    {
      "score_type": "UNIT_MATH",
      "description": "เรียนรายวิชาในกลุ่มสาระการเรียนรู้คณิตศาสตร์", "unit": ""
    },
    {
      "score_type": "UNIT_FOREIGN",
      "description": "เรียนรายวิชาในกลุ่มสาระการเรียนรู้ภาษาต่างประเทศ", "unit": ""
    },
    {
      "score_type": "UNIT_SCI",
      "description": "เรียนรายวิชาในกลุ่มสาระการเรียนรู้วิทยาศาสตร์", "unit": ""
    },
    {
      "score_type": "GPAX_MATH",
      "description": "คะแนนเฉลี่ยรายวิชากลุ่มสาระการเรียนรู้คณิตศาสตร์", "unit": ""
    },
    {
      "score_type": "GPAX_FOREIGN",
      "description": "คะแนนเฉลี่ยรายวิชากลุ่มสาระการเรียนรู้ภาษาต่างประเทศ", "unit": ""
    },
    {
      "score_type": "GPAX_SCI",
      "description": "คะแนนเฉลี่ยรายวิชากลุ่มสาระการเรียนรู้วิทยาศาสตร์", "unit": ""
    },
  ]
 const general_scoring_tags = [
   {
     "score_type": "GPAX_5_SEMESTER",
     "description": "ผลการเรียนเฉลี่ยสะสม (GPAX) 5 ภาคเรียน", "unit": ""
   },
   {
      "score_type": "GPAX",
      "description": "ผลการเรียนเฉลี่ยสะสม (GPAX)", "unit": ""
    },
    { "score_type": "INTERVIEW", "description": "การสอบสัมภาษณ์", "unit": "" },
    {
      "score_type": "INTERVIEW_ENGLISH",
      "description": "การสอบสัมภาษณ์เป็นภาษาอังกฤษ", "unit": ""
    },
 ]
 const test_tags = [
   // {
   //   "score_type": "ONET",
   //   "description": "O-NET (5 กลุ่มสาระวิชา)", "unit": "คะแนน"
   // },
   // {
   //   "score_type": "ONET_THA",
   //   "description": "O-NET (01) ภาษาไทย", "unit": "คะแนน"
   // },
   // {
   //   "score_type": "ONET_SOC",
   //   "description": "O-NET (02) สังคมศึกษา", "unit": "คะแนน"
   // },
   // {
   //   "score_type": "ONET_ENG",
   //   "description": "O-NET (03) ภาษาอังกฤษ", "unit": "คะแนน"
   // },
   // {
   //   "score_type": "ONET_MAT",
   //   "description": "O-NET (04) คณิตศาสตร์", "unit": "คะแนน"
   // },
   // {
   //   "score_type": "ONET_SCI",
   //   "description": "O-NET (05) วิทยาศาสตร์", "unit": "คะแนน"
   // },
   { "score_type": "GAT", "description": "GAT", "unit": "คะแนน" },
   { "score_type": "GAT_1", "description": "GAT ส่วน 1", "unit": "คะแนน" },
   { "score_type": "GAT_2", "description": "GAT ส่วน 2", "unit": "คะแนน" },
   { "score_type": "PAT_1", "description": "PAT 1", "unit": "คะแนน" },
   { "score_type": "PAT_2", "description": "PAT 2", "unit": "คะแนน" },
   { "score_type": "PAT_3", "description": "PAT 3", "unit": "คะแนน" },
   { "score_type": "PAT_4", "description": "PAT 4", "unit": "คะแนน" },
   { "score_type": "PAT_5", "description": "PAT 5", "unit": "คะแนน" },
   { "score_type": "PAT_6", "description": "PAT 6", "unit": "คะแนน" },
   { "score_type": "PAT_7", "description": "PAT 7 (วิชาใดก็ได้)", "unit": "คะแนน" },
   { "score_type": "PAT_7_1", "description": "PAT 7.1", "unit": "คะแนน" },
   { "score_type": "PAT_7_2", "description": "PAT 7.2", "unit": "คะแนน" },
   { "score_type": "PAT_7_3", "description": "PAT 7.3", "unit": "คะแนน" },
   { "score_type": "PAT_7_4", "description": "PAT 7.4", "unit": "คะแนน" },
   { "score_type": "PAT_7_5", "description": "PAT 7.5", "unit": "คะแนน" },
   { "score_type": "PAT_7_6", "description": "PAT 7.6", "unit": "คะแนน" },
   { "score_type": "PAT_7_7", "description": "PAT 7.7", "unit": "คะแนน" },
   { "score_type": "TOEFL_PBT_ITP", "description": "TOEFL PBT/ITP", "unit": "คะแนน" },
   { "score_type": "TOEFL_CBT", "description": "TOEFL CBT", "unit": "คะแนน" },
   { "score_type": "TOEFL_IBT", "description": "TOEFL IBT", "unit": "คะแนน" },
   { "score_type": "IELTS", "description": "IELTS", "unit": "คะแนน" },
   { "score_type": "OOPT", "description": "OOPT", "unit": "คะแนน" },
   { "score_type": "KU_EPT", "description": "KU-EPT", "unit": "คะแนน" },
   { "score_type": "9SUB", "description": "วิชาสามัญ 9 วิชา", "unit": "คะแนน" },
   { "score_type": "UDAT_09", "description": "วิชาสามัญ ภาษาไทย (09)", "unit": "คะแนน" },
   { "score_type": "UDAT_19", "description": "วิชาสามัญ สังคมศึกษา (19)", "unit": "คะแนน" },
   { "score_type": "UDAT_29", "description": "วิชาสามัญ ภาษาอังกฤษ (29)", "unit": "คะแนน" },
   { "score_type": "UDAT_39", "description": "วิชาสามัญ คณิตศาสตร์ 1 (39)", "unit": "คะแนน" },
   { "score_type": "UDAT_49", "description": "วิชาสามัญ ฟิสิกส์ (49)", "unit": "คะแนน" },
   { "score_type": "UDAT_59", "description": "วิชาสามัญ เคมี (59)", "unit": "คะแนน" },
   { "score_type": "UDAT_69", "description": "วิชาสามัญ ชีววิทยา (69)", "unit": "คะแนน" },
   { "score_type": "UDAT_89", "description": "วิชาสามัญ คณิตศาสตร์ 2 (89)", "unit": "คะแนน" },
   { "score_type": "UDAT_99", "description": "วิชาสามัญ วิทยาศาสตร์ทั่วไป (99)", "unit": "คะแนน" },
   { "score_type": "VNET", "description": "V-NET (รวมทุกทักษะ)", "unit": "คะแนน" },
 ]
 {% if not uses_component_weights %}
 const requiredTags = general_required_tags.concat(test_tags)
    const scoringTags = general_scoring_tags.concat(test_tags)
    const hideRequiredSection = false;
    const useComponentWeightType = false;
  {% else %}
    const component_type_tags = [
    {% for t,d in component_weight_type_choices %} 
        {
          "score_type": "{{ t }}",
          "description": "{{ d }}"
        },
    {% endfor %}
    ]
    const requiredTags = general_required_tags.concat(test_tags)
    const scoringTags = component_type_tags;
    const hideRequiredSection = false;
    const useComponentWeightType = true;
  {% endif %}
  const unitTags = [
    "คะแนน",
    "หน่วยกิต",
  ];
</script>
