{% load criteria_tags %}
<script>
  {% criteria_options_as_js project %}

  {% if not uses_component_weights %}
    const requiredTags = general_required_tags.concat(test_tags)
    const scoringTags = general_scoring_tags.concat(test_tags)
    const hideRequiredSection = false;
    const useComponentWeightType = false;
  {% else %}
    const component_type_tags = [
    {% for t,d in component_weight_type_choices %} 
        {
          "score_type": "{{ t }}",
          "description": "{{ d }}"
        },
    {% endfor %}
    ]
    const requiredTags = general_required_tags.concat(test_tags)
    const scoringTags = component_type_tags;
    const hideRequiredSection = false;
    const useComponentWeightType = true;
  {% endif %}
  const unitTags = [
    "คะแนน",
    "หน่วยกิต",
  ];
</script>
