<script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>

<style>
    .table td {
        vertical-align: baseline;
    }

    td input.form-control:not(:focus):not(:hover),
    td textarea.form-control:not(:focus):not(:hover) {
        border-width: 0;
    }

    td input,
    textarea {
        resize: none;
    }

    .ui-autocomplete {
        max-height: 250px;
        overflow-y: auto;
    }
    .overflow {
        height: 200px;
    }
    .flex-1 {
        flex: 1;
    }
</style>