<td rowspan="{{ admission_criteria.curriculum_major_admission_criteria_count }}">
  {% with scorecriterias=admission_criteria.get_all_required_score_criteria %}
    {% include "criteria/include/scorecriteria_list.html" %}
  {% endwith %}
</td>
<td rowspan="{{ admission_criteria.curriculum_major_admission_criteria_count }}">
  {% with scorecriterias=admission_criteria.get_all_scoring_score_criteria %}
    {% include "criteria/include/scorecriteria_list.html" %}
  {% endwith %}
</td>
<td rowspan="{{ admission_criteria.curriculum_major_admission_criteria_count }}">
  {% if is_edit_link_hidden %}
  {% else %}
    <a href="{% url 'backoffice:criteria:create' project.id admission_round.id %}?duplicate_score_id={{admission_criteria.id}}{% if faculty_choices %}&faculty_id={{ faculty.id }}{% endif %}"
       class="btn btn-primary btn-sm">คัดลอก</a>
    <a href="#" class="btn btn-secondary d-none btn-sm">คัดลอกไปยังโครงการอื่น</a>
    <a href="{% url 'backoffice:criteria:edit' project.id admission_round.id admission_criteria.id %}{{ faculty_url_query }}"
       class="btn btn-info btn-sm">แก้ไข</a>
    <form class="d-inline"
		 action="{% url 'backoffice:criteria:delete' project.id admission_round.id admission_criteria.id %}{{ faculty_url_query }}"
		 id="delete_{{admission_criteria.id}}" method="post">
      {% csrf_token %}
    </form>
    <button class="btn btn-danger btn-sm" onclick="deleteCriteria('delete_{{admission_criteria.id}}')">ลบ</button>
  {% endif %}
</td>
