<table class="table table-sm">
  <thead class="thead-dark">
    <tr>
      <th>สาขาวิชาที่ใช้เกณฑ์</th>
      <th>เงื่อนไขขั้นต่ำ</th>
      <th>เกณฑ์การพิจารณา</th>
      <th>
	{% if is_edit_link_hidden %}
	{% else  %}
	  แก้ไข
	{% endif %}
      </th>
    </tr>
  </thead>
  {% for admission_criteria in admission_criterias %}
    {% if is_faculty_row_visible %}
      {% ifchanged admission_criteria.faculty %}
	<tr class="table-info">
	  <th colspan="300" class="text-center">
	    {{ admission_criteria.faculty }}
	  </th>
	</tr>
      {% endifchanged  %}
    {% endif %}
    <tr class="{% if admission_criteria.curriculummajor_set.all %}{% else %}table-warning{% endif %}">
      <td>
        <ul>
	  {% for majorcriteria in admission_criteria.curriculummajoradmissioncriteria_set.all %}
	    <li>
	      {{majorcriteria.curriculum_major.cupt_code}}
	      {% if majorcriteria.slots != 0 %}
  		({{majorcriteria.slots}} คน)
	      {% else %}
		(*จำนวนรับรวมกับเงื่อนไขอื่น)
	      {% endif %}
	    </li>
	  {% empty %}
	    <li>(ยังไม่ได้ระบุสาขา)</li>
	  {% endfor %}
        </ul>
      </td>
      <td>
	{% with scorecriterias=admission_criteria.get_all_required_score_criteria %}
	  {% include "criteria/include/scorecriteria_list.html" %}
	{% endwith %}
      </td>
      <td>
	{% with scorecriterias=admission_criteria.get_all_scoring_score_criteria %}
	  {% include "criteria/include/scorecriteria_list.html" %}
	{% endwith %}
      </td>
      <td>
	{% if is_edit_link_hidden %}
	{% else %}
	  <a href="{% url 'backoffice:criteria:create' project.id admission_round.id %}?duplicate_score_id={{admission_criteria.id}}{% if faculty_choices %}&faculty_id={{ faculty.id }}{% endif %}"
	     class="btn btn-primary btn-sm">คัดลอก</a>
	  <a href="#" class="btn btn-secondary d-none btn-sm">คัดลอกไปยังโครงการอื่น</a>
	  <a href="{% url 'backoffice:criteria:edit' project.id admission_round.id admission_criteria.id %}{{ faculty_url_query }}"
	     class="btn btn-info btn-sm">แก้ไข</a>
	  <form class="d-inline"
		action="{% url 'backoffice:criteria:delete' project.id admission_round.id admission_criteria.id %}{{ faculty_url_query }}"
		id="delete_{{admission_criteria.id}}" method="post">
	    {% csrf_token %}
	  </form>
	  <button class="btn btn-danger btn-sm" onclick="deleteCriteria('delete_{{admission_criteria.id}}')">ลบ</button>
	{% endif %}
      </td>
    </tr>
  {% endfor %}
  {% for major in free_curriculum_majors %}
    <tr>
      <td>
        <ul>
          <li>{{major.cupt_code}}</li>
        </ul>
      </td>
      <td colspan="2">
        (ยังไม่มีการกำหนดเกณฑ์)
      </td>
      <td>
	{% if is_edit_link_hidden %}
	{% else %}
          <a href="{% url 'backoffice:criteria:create' project.id admission_round.id %}?selected_major_id={{major.id}}{% if faculty_choices %}&faculty_id={{ faculty.id }}{% endif %}"
	     class="btn btn-success btn-sm">กำหนดเงื่อนไขและเกณฑ์การพิจารณา</a>
	{% endif %}
      </td>
    </tr>
  {% endfor %}
  {% if not admission_criterias %}
    {% if not free_curriculum_majors %}
      <tr>
        <td>(ยังไม่มีการเลือกสาขาที่เปิดรับในโครงการนี้)</td>
      </tr>
    {% endif %}
  {% endif %}
</table>
<script>
 function deleteCriteria(text) {
   let ok = confirm('ต้องการลบเกณฑ์?')
   if (ok) {
     $('form#' + text).submit()
   }
 }
</script>
