<table class="table table-sm table-bordered table-striped">
  <thead class="thead-dark">
    <tr>
      <th>สาขาวิชาที่ใช้เกณฑ์</th>
      <th>
	จำนวนรับ
	{% if project.is_custom_add_limit_criteria %}<br><small>(add limit)</small>{% endif %}
      </th>
      {% if project.is_custom_interview_date_allowed %}
	<th>
	  สัมภาษณ์
	</th>
      {% endif %}
      <th>เงื่อนไขขั้นต่ำ</th>
      <th>เกณฑ์การพิจารณา</th>
      <th>
	{% if is_edit_link_hidden %}
	{% else  %}
	  แก้ไข
	{% endif %}
      </th>
    </tr>
  </thead>
  {% for row in admission_criteria_rows %}
    {% with curriculum_major_admission_criterias=row.majors criterias=row.criterias major_count=row.major_count criteria_count=row.criteria_count %}

      {% if is_faculty_row_visible %}
	{% ifchanged criterias.0.faculty %}
	  <tr class="table-info">
	    <th colspan="300" class="text-center">
	      {{ criterias.0.faculty }}
	    </th>
	  </tr>
	{% endifchanged  %}
      {% endif %}

      <tr class="{% if major_count == 0 %}table-warning{% endif %}">
	{% if major_count > 0 %}
	  {% with curriculum_major_admission_criterias.0 as majorcriteria %}
	    <td rowspan="{{ criteria_count }}">
	      {{ majorcriteria.curriculum_major.cupt_code }}
	      {% if project.is_custom_add_limit_criteria %}
		{% include "criteria/include/criteria_table_add_limit_form.html" %}
	      {% endif %}
	    </td>
	    <td rowspan="{{ criteria_count }}" class="text-center">
	      {% if majorcriteria.slots != 0 %}
  		{{ majorcriteria.slots }}
		{% if project.is_custom_add_limit_criteria %}
		  <span id="add-limit-num-span-id-{{ majorcriteria.id }}">({{ majorcriteria.add_limit_display }})</span>
		{% endif %}
	      {% else %}
		*จำนวนรับรวมกับเงื่อนไขอื่น
	      {% endif %}
	    </td>
	  {% endwith %}
	{% else %}
	  <td>
	    (ยังไม่ได้ระบุสาขา)
	  </td>
	  <td></td>
	{% endif %}

	{% if project.is_custom_interview_date_allowed %}
	  <td rowspan="{{ major_count }}">
	    {% if criterias.0.interview_date == None %}
	      -
	    {% else %}
	      {{ criterias.0.interview_date|date:"j M" }}
	    {% endif %}
	  </td>
	{% endif %}
	{% with criterias.0 as admission_criteria %}
	  {% include "criteria/include/criteria_table_scorecriteria_cols.html" %}
	{% endwith %}
      </tr>
      
      {% for majorcriteria in curriculum_major_admission_criterias %}
	{% if not forloop.first %}
	  <tr>
	    <td>
	      {{majorcriteria.curriculum_major.cupt_code}}
	      {% if project.is_custom_add_limit_criteria %}
		{% include "criteria/include/criteria_table_add_limit_form.html" %}
	      {% endif %}
	    </td>
	    <td class="text-center">
	      {% if majorcriteria.slots != 0 %}
  		{{majorcriteria.slots}}
		{% if project.is_custom_add_limit_criteria %}
		  <span id="add-limit-num-span-id-{{ majorcriteria.id }}">({{ majorcriteria.add_limit_display }})</span>
		{% endif %}
	      {% else %}
		*จำนวนรับรวมกับเงื่อนไขอื่น
	      {% endif %}
	    </td>
	  </tr>
	{% endif %}
      {% endfor %}

      {% if criteria_count > 0 %}
	{% for item in criterias %}
	  {% if not forloop.first %}
	    {% with item as admission_criteria %}
	      <tr>
		{% include "criteria/include/criteria_table_scorecriteria_cols.html" %}
	      </tr>
	    {% endwith %}
	  {% endif %}
	{% endfor %}
      {% endif %}
    {% endwith %}
  {% endfor %}
  {% if is_faculty_row_visible %}
    {% if free_curriculum_majors %}
      <tr class="table-primary">
	<th colspan="300" class="text-center">
	  สาขาที่ยังไม่มีการกำหนดเกณฑ์
	</th>
      </tr>
    {% endif %}
  {% endif %}
  {% for major in free_curriculum_majors %}
    {% if is_faculty_row_visible %}
      {% ifchanged major.faculty %}
	<tr class="table-info">
	  <th colspan="300" class="text-center">
	    {{ major.faculty }}
	  </th>
	</tr>
      {% endifchanged  %}
    {% endif %}
    <tr>
      <td>
        {{major.cupt_code}}
      </td>
      <td></td>
      <td colspan="2">
        (ยังไม่มีการกำหนดเกณฑ์)
      </td>
      <td>
	{% if is_edit_link_hidden %}
	{% else %}
          <a href="{% url 'backoffice:criteria:create' project.id admission_round.id %}?selected_major_id={{major.id}}{% if faculty_choices %}&faculty_id={{ faculty.id }}{% endif %}"
	     class="btn btn-success btn-sm">กำหนดเงื่อนไขและเกณฑ์การพิจารณา</a>
	{% endif %}
      </td>
    </tr>
  {% endfor %}
  {% if not admission_criteria_rows %}
    {% if not free_curriculum_majors %}
      <tr>
        <td>(ยังไม่มีการเลือกสาขาที่เปิดรับในโครงการนี้)</td>
      </tr>
    {% endif %}
  {% endif %}
</table>
<script>
 function deleteCriteria(text) {
   let ok = confirm('ต้องการลบเกณฑ์?')
   if (ok) {
     $('form#' + text).submit()
   }
 }
 $(function(){
   $(".add-limit-forms-toggle").click(function(){
     var mid = $(this).data('mid');
     var formId = 'add-limit-id-' + mid;
     $('#'+formId).slideDown();
     return false;
   });

   $(".add-limit-type-selects").change(function(){
     var mid = $(this).data('mid');
     var v = $(this).val();
     var limitNumId = 'add-limit-num-id-' + mid;
     if(v == 'C') {
       $('#'+limitNumId).prop('disabled',false);
       var orgnum = $('#'+limitNumId).data('orgnum');
       if(orgnum == '0') {
	 orgnum = '1';
       }
       $('#'+limitNumId).val(orgnum);
     } else {
       $('#'+limitNumId).prop('disabled',true);
       var currentNum = $('#'+limitNumId).val();
       $('#'+limitNumId).val('');
       if(currentNum != '') {
	 $('#'+limitNumId).data('orgnum', currentNum);
       }
     }
   });
   
   $('.add-limit-save-buttons').click(function(){
     var mid = $(this).data('mid');
     var url = $(this).data('url');
     var addLimitType = $('#add-limit-select-id-'+mid).val();
     var addLimitNum = $('#add-limit-num-id-'+mid).val();
     
     var val = addLimitType;
     
     if(addLimitType == 'C') {
       val = addLimitType + $.trim(addLimitNum);
     }

     $('#add-limit-spinner-id-'+mid).show();
     jQuery.post(url,
		 { value: val,
		   csrfmiddlewaretoken: '{{ csrf_token }}'},
		 function(data) {
		   $('#add-limit-spinner-id-'+mid).hide();
		   $('#add-limit-num-span-id-'+mid).text('('+data+')');
		   $('#add-limit-id-'+mid).slideUp();
     });
     return false;
   });

   $('.add-limit-cancel-buttons').click(function(){
     var mid = $(this).data('mid');
     $('#add-limit-id-'+mid).slideUp();
     return false;
   });

   $('.accepted-curriculum-type-form-holders').on('click',
						  '.accepted-curriculum-type-toggles',
						  function() {
						    var acid = $(this).data('acid');
						    var ctypeid = $(this).data('ctypeid');
						    var url = $(this).attr('href');
						    var formId = 'accepted_curriculum_type_form_holder_id_' + acid;
						    
						    $('#accepted_curriculum_type_spinner_id_' + acid).show();
						    jQuery.post(url,
								{ csrfmiddlewaretoken: '{{ csrf_token }}'},
								function(data) {
								  $('#' + formId).html(data);
								  $('#accepted_curriculum_type_choices_id_' + acid).show();
						    });
						    return false;
   });
   
   $('.accepted-curriculum-type-form-holders').on('click',
						  '.accepted-curriculum-type-form-toggles',
						  function() {
						    var acid = $(this).data('acid');
						    var formId = 'accepted_curriculum_type_choices_id_' + acid;
						    $('#' + formId).slideToggle();
						    return false;
   });
   
   $('.accepted-graduate-year-form-holders').on('click',
						'.accepted-graduate-year-toggles',
						function() {
						  var acid = $(this).data('acid');
						  var ytypeid = $(this).data('ytypeid');
						  var url = $(this).attr('href');
						  var formId = 'accepted_graduate_year_form_holder_id_' + acid;
						    
						  $('#accepted_graduate_year_spinner_id_' + acid).show();
						  jQuery.post(url,
							      { csrfmiddlewaretoken: '{{ csrf_token }}'},
							      function(data) {
								$('#' + formId).html(data);
								$('#accepted_graduate_year_choices_id_' + acid).show();
						  });
						  return false;
   });
   
   $('.accepted-graduate-year-form-holders').on('click',
						'.accepted-graduate-year-form-toggles',
						function() {
						  var acid = $(this).data('acid');
						  var formId = 'accepted_graduate_year_choices_id_' + acid;
						  $('#' + formId).slideToggle();
						  return false;
   });
   
 });
</script>
