{% if faculty_choices %}
<div class="alert alert-info">
  คุณสามารถจัดการข้อมูลได้หลายคณะ » เลือกคณะ:
  <select id="facultySelectId">
    {% for f in faculty_choices %}
      <option {% if faculty.id == f.id %}selected{% endif %} value="{{ f.id }}">{{ f }}</option>
    {% endfor %}
  </select>
</div>
<script>
  $("#facultySelectId").change(function(){
      var currentLocation = ("" + window.location);
    var bareLocation = currentLocation.split('?')[0];
    window.location = bareLocation + '?faculty_id=' + $(this).val();
  });
</script>
{% endif %}
