<tr class="table-success">
  <td colspan="100">สำหรับฝ่ายรับเข้า</td>
</tr>
<tr>
  <td>ข้อมูลบัญชี</td>
  <td>
    <form class="d-inline" method="post" action="{% url 'backoffice:new-password' applicant.national_id %}">
      {% csrf_token %}
      <button id="new_password_id" class="btn btn-secondary btn-sm">ขอรหัสผ่านใหม่</button>
    </form>
  </td>
</tr>
<tr>
  <td>
    บันทึกการใช้งาน
  </td>
  <td>
    <table>
      <thead class="table-inverse">
        <tr>
          <th>เมื่อ</th>
          <th>จาก</th>
          <th>เหตุการณ์</th>
        </tr>
      </thead>
      {% for item in logs %}
        <tr>
          <td>{{ item.created_at|date:"d M Y H:i" }}</td>
          <td>{{ item.request_ip }}</td>
          <td>{{ item.message }}</td>
        </tr>
      {% endfor %}
    </table>
  </td>
</tr>
<script>
  $(function(){
    $("#new_password_id").click(function(){
      return confirm('คุณแน่ใจที่จะขอรหัสผ่านใหม่ให้ผู้สมัคร\nเหตุการณ์นี้จะถูกบันทึกในบันทึกการใช้งาน');
    });
  });
</script>
