{% extends 'appl/base.html' %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <h1>ข้อมูลโครงการ {{ admission_project }}</h1>
    สำหรับ {{ applicant }}<br />
  </div>
</div>

<form method="post" action="{% url 'supplements:index' admission_project.id admission_round.id%}">
  {% csrf_token %}
  {% for config in configs %}
    <div class="row">
      <div class="col-md-12">
        {% include config.template_name %}
      </div>
    </div>
  {% endfor %}

  <div class="row">
    <div class="col-md-12 mt5 pt5 tborder-a0">
      <input type="submit" name="ok" class="btn btn-success" value="จัดเก็บ" />
    </div>
  </div>
</form>
{% endblock %}
