body {
    padding-top: 5rem;
}

.mb5 {
    margin-bottom: 5px;
}

.p10 {
    padding: 10px;
}

.border-a0 {
    border: 1px solid #a0a0a0;
    border-radius: 5px;
}

.bg-warn {
    background: #fff3cd;
}

p.help-block {
	font-style: normal;
    font-weight: lighter;
    font-size: 75% ;
    color: rgba(206, 60, 55, 0.87) ;
    float: right ;
    margin-top: 4px ;
    margin-left: 3px;
}



