body {
    padding-top: 5rem;
}

.mb5 {
    margin-bottom: 5px;
}

.p10 {
    padding: 10px;
}

.border-a0 {
    border: 1px solid #a0a0a0;
    border-radius: 5px;
}

.bg-warn {
    background: #fff3cd;
}

