body {
    padding-top: 5rem;
}

h1, h2, h3, h4 {
    font-family: 'Pridi', serif;
}

p.invalid-feedback {
    font-style: normal;
    font-weight: lighter;
    font-size: 75% ;
    color: rgba(206, 60, 55, 0.87) ;
    float: right ;
    margin-top: 4px ;
    margin-left: 3px;
}

.project-appl-sections {
    margin-bottom: 10px;
    padding-bottom: 10px;
}

/* commons */

.bg-warn {
    background: #fff3cd;
}

.btn-xsm {
    padding: .125rem .25rem;
    font-size: .8rem;
    line-height: 1.2;
    border-radius: .2rem;
}

/* spaces & borders */

.m0 {
    margin: 0;
}

.mb5 {
    margin-bottom: 5px;
}

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

.ml10 {
    margin-left: 10px;
}

.mr10 {
    margin-right: 10px;
}

.p5 {
    padding: 5px;
}

.p10 {
    padding: 10px;
}

.pt5 {
    padding-top: 5px;
}

.pt10 {
    padding-top: 10px;
}

.pl10 {
    padding-left: 10px;
}

.pr10 {
    padding-right: 10px;
}

.border-a0 {
    border: 1px solid #a0a0a0;
    border-radius: 5px;
}

.bborder-a0 {
    border-bottom: 1px solid #a0a0a0;
}

.bborder-superlight {
    border-bottom: 1px solid #e0e0e0;
}

.tborder-a0 {
    border-top: 1px solid #a0a0a0;
}

td.onet-odd {
    background: #fffbd8;
}

td.onet-even {
    background: #fcf5b8;
}

td.gatpat-odd {
    background: #edfffc;
}

td.gatpat-even {
    background: #bdfcf5;
}

td.udat-odd {
    background: #ffedfc;
}

td.udat-even {
    background: #fcddf5;
}

table.applicant-score-tables td {
    font-size: 80%;
}

table.applicant-score-tables tr.app-interview-called td.ranks {
    background: #c6ffd0;
}
table.applicant-score-tables tr.app-interview-called td.scores {
    background: #c6ffd0;
}
table.applicant-score-tables tr.app-interview-called td.national-ids {
    background: #c6ffd0;
}
table.applicant-score-tables tr.app-interview-called td.chboxes {
    background: #c6ffd0;
}

table.applicant-score-tables tr.app-interview-not-called .called-checks {
    display: none;
}

table.applicant-score-tables .major-markers {
    margin-right: 1px;
    padding-left: 1px;
    padding-right: 1px;
}

table.applicant-score-tables .major-markers.accepted {
    color: white;
    background: #aa0000;
}

