{% extends 'backoffice/base.html' %}
{% block content %}
  <div class="row">
    <div class="col-md-12">
      <h1>จัดการชำระเงิน</h1>

      {% if notice %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{ notice }}
        </div>
      {% endif %}

      <form class="card p10 form-inline" enctype="multipart/form-data" method="post" action="{% url 'backoffice:payment-index' %}">
        {% csrf_token %}
        <div class="input-group">
          <label><b>อัพโหลดไฟล์ชำระเงิน: &nbsp;&nbsp;</b></label>
          <input name="payment_file" required type="file" />
          <input type="submit" class="btn btn-primary" value="อัพโหลด" />
        </div>
      </form>

      <hr />
      
      <h3>รายการที่มีปัญหา</h3>
      <div class="alert alert-info">
        <b>สถิติพื้นฐาน:</b>
        จำนวนรายการชำระเงินทั้งหมด {{ all_payment_count }} รายการ
        จำนวนรายการที่มีปัญหา {{ error_payments|length }} รายการ
      </div>
      
      <table class="table table-striped">
        {% for p in error_payments %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ p.national_id }}</td>
            <td>{{ p.verification_number }}</td>
            <td>{{ p.paid_at }}</td>
            <td>{{ p.payment_name }}</td>
            <td>{{ p.amount|floatformat:"2" }}</td>
          </tr>
        {% empty %}
          <tr>
            <td>ไม่มีรายการที่มีปัญหา</td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock %}
